<template>
    <div id="add-coins">
        <section>
            <div class="columns is-centered is-multiline">
                <div class="column is-12 is-6-desktop">
                    <div class="card">
                        <div class="card-content">
                            <div v-if="soldCoin">
                                <h1 class="title" style="margin-bottom:0"><i class="bt" :class="'bt-'+soldCoin.toLowerCase()" aria-hidden="true"></i>&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;<i class="fa fa-usd"></i></h1>
                                <h2 class="menu-label">{{ soldCoin }} to USD</h2>
                            </div>
                            <div v-else>
                                <h1 class="title" style="margin-bottom:0"><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;<i class="fa fa-usd"></i> </h1>
                                <h2 class="menu-label">Coin to USD</h2>
                            </div>
                        <b-field label="I Sold" class="m-t-10">
                            <selectize v-model="soldCoin" placeholder="Select a coin" @change="getMaxForTrade(soldCoin)"> <!-- settings is optional -->
                                <option v-for="coin in myCoins.holdings" :value="coin.coin_symbol">{{ coin.coin_symbol }}</option>
                            </selectize>
                        </b-field>
                        <b-field :label="soldCoin + ' Amount'" v-if="soldCoin">
                            <b-input type="number" min="0.00000001" :max="getMaxForSale[0].amount" step="any" :placeholder="soldCoin + ' Quantity'"  v-model="amount"></b-input>
                        </b-field>
                        <b-field label="Coin Amount" v-else>
                            <b-input type="number" min="0.00000001" step="any" placeholder="Coin Quantity" v-model="amount"></b-input>
                        </b-field>
                        <b-field :label="'@ ' + soldCoin + ' / USD'" v-if="soldCoin">
                            <b-input type="number" min="0.00000001" step="any" placeholder="USD Per Coin" v-model="usd"></b-input>
                        </b-field>
                        <b-field label="@ Coin / USD" v-else>
                            <b-input type="number" min="0.00000001" step="any" placeholder="USD Per Coin" v-model="usd"></b-input>
                        </b-field>
                        <b-field label="Fees (USD)">
                            <b-input type="number" min="0" step=".01" placeholder="Fees in USD" v-model="fees"></b-input>
                        </b-field>
                            <b-field label="Sale Date">
                                <b-datepicker
                                        placeholder="Click to select..."
                                        icon="calendar" v-model="date">
                                </b-datepicker>
                            </b-field>
                            <b-field label="Sale Time">
                            </b-field>
                            <b-field grouped>
                                <b-input v-model="hour"
                                         type="number"
                                         min="00"
                                         max="12"
                                         step="1"
                                         expanded>
                                </b-input>
                                <b-input v-model="minute"
                                         type="number"
                                         min="00"
                                         max="59"
                                         step="1"
                                         expanded>
                                </b-input>
                                <b-select v-model="amPm">
                                    <option>AM</option>
                                    <option>PM</option>
                                </b-select>
                            </b-field>
                            <b-field class="m-t-20" style="display:flex;justify-content:flex-end;">
                                <p class="control">
                                    <button class="button is-primary" @click.prevent="submitSellCoin" v-if="amount && soldCoin && date && usd">Add</button>
                                    <button class="button is-primary" @click.prevent="submitSellCoin" disabled v-else>Add</button>
                                </p>
                            </b-field>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Selectize from 'vue2-selectize'

    export default {
        components: {
            Selectize
        },
        data: function () {
            return {
                amount: '',
                usd: '',
                fees: '',
                date: new Date(),
                hour: '12',
                minute: '00',
                amPm: 'AM',
                myCoins: [],
                soldCoin: '',
                postSuccess: false,
            }
        },
        created: function() {
            this.getSellableCoins();
        },
        computed: {
            getMaxForSale() {
                return this.myCoins.filter((holding) => {
                    return holding.coin_symbol
                        .toString()
                        .toLowerCase()
                        .indexOf(this.soldCoin.toLowerCase()) >= 0
                })
            },
        },
        methods: {
            getSellableCoins() {
                const vm = this;
                axios.get('/dashboard/holdings/by-coin')
                    .then(function (response) {
                        vm.myCoins = response.data;
                    })
            },
            submitSellCoin() {
                const vm = this;
                axios.post('/dashboard/sell-coins', {
                    amount: this.amount,
                    usd: this.usd,
                    coin: this.soldCoin,
                    fees: this.fees,
                    date: this.date,
                    hour: this.hour,
                    minute: this.minute,
                    amPm: this.amPm
                })
                    .then(function (response) {
                        console.log(response);
                        vm.postSuccess = true;
                        vm.amount = '';
                        vm.usd = '';
                        vm.fees = '';
                        vm.soldCoin = '';
                        vm.date = new Date();
                        vm.hour = '12';
                        vm.minute = '00';
                        vm.amPm = 'AM';
                        vm.$toast.open({
                            message: 'Your sale has been added!',
                            type: 'is-success'
                        })
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
        },
        mounted() {

        }
    }
</script>
