<template>
    <div class="watchlist">
            <span v-if="!guest" style="display:inline-flex">Watchlist&nbsp;<small>(<a @click.prevent="setModalActive">Edit</a>)</small>&nbsp;-&nbsp;</span>
            <div class="control m-r-10" v-for="coin in coins">
                <a :href="'https://coinmarketcap.com/currencies/' + coin.name | coinurl" target="_blank" rel="noopener">
                    <div class="tags has-addons">
                        <span class="tag" style="font-size:.8em">
                            <coin-icon :icon="coin.icon"></coin-icon>&nbsp;<span>{{ coin.symbol }}</span>&nbsp;
                            <span v-if="coin.usd < 1">{{ coin.usd | currency('$', 4) }}</span>
                            <span v-else>{{ coin.usd | currency }}</span>&nbsp;
                            <span class="has-text-primary" v-if="coin.percent_change_1h > 0">({{ coin.percent_change_1h }}%)</span>
                            <span class="has-text-danger" v-else>({{ coin.percent_change_1h }}%)</span>
                        </span>
                    </div>
                </a>
            </div>
        <b-modal :active.sync="isModalActive" has-modal-card @changed-watchlist="refreshCoins" :scroll="scroll">
            <watchlist-modal :coins="coins"></watchlist-modal>
        </b-modal>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                coins: [],
                isModalActive: false,
                scroll: 'keep'
            }
        },
        props: ['guest'],
        created: function () {
            this.getTicker(this.guest);
            this.timer = setInterval(this.getTicker, 30000);
        },
        methods: {
            getTicker(guest) {
                const vm = this;
                if (guest) {
                    axios.get('/ticker')
                        .then(response => {
                            vm.coins = response.data;
                        })
                } else {
                    // Get auth watchlist
                    axios.get('/dashboard/watchlist')
                        .then(response => {
                            vm.coins = response.data;
                        })
                }

            },
            refreshCoins() {
                this.getTicker(this.guest)
            },
            setModalActive() {
                this.isModalActive = true;
            }
        },
        mounted() {
            // console.log('Component mounted.')
        }
    }
</script>
