<template>
    <div class="columns is-desktop">
        <div class="column is-7-desktop p-t-0">
               <form>
                   <div class="field">
                       <label class="label is-medium">Post Title</label>
                       <div class="control has-icons-left has-icons-right">
                           <input class="input is-medium" :class="{ 'is-danger': slugInvalid }" type="text" placeholder="Title of Post" v-model="title">
                           <span class="icon is-small is-left">
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
    </span>
                           <span class="icon is-small is-right">
                               <i class="fa fa-times-circle-o has-text-danger" v-if="slugInvalid"></i>
                               <i class="fa fa-check is-primary" v-else></i>
    </span>
                       </div>
                   </div>
                   <div class="level">
                       <div class="level-left">
                           <p class="level-item m-t-10 m-b-10">https://mycoinguru.tk/{{ slug }}</p>
                       </div>
                       <div class="level-right">
                           <p class="level-item is-medium has-text-weight-bold">Status</p>
                           <p class="control has-icons-left">
                            <span class="select">
                              <select v-model="status">
                                <option selected value="1">Draft</option>
                                <option value="2">Publish</option>
                              </select>
                            </span>
                               <span class="icon is-small is-left">
                              <i class="fa fa-pencil"></i>
                            </span>
                           </p>
                       </div>
                   </div>
                   <div class="field">
                   <label class="label is-medium">Post Body</label>
                   <textarea class="textarea" placeholder="Body of blog post" rows="10" v-model="body"></textarea>
                   </div>
                   <div class="field m-b-20">
                       <label class="label is-medium">Tags</label>
                       <b-field>
                           <b-taginput
                                   v-model="tags"
                                   icon="label"
                                   placeholder="Add a tag">
                           </b-taginput>
                       </b-field>
                   </div>
                   <div class="field is-grouped">
                       <div class="control">
                           <button class="button is-link" @click.prevent="submitPost" v-if="title.length > 0 & body.length > 0">Submit</button>
                           <button class="button is-link" disabled="disabled" v-else>Submit</button>
                       </div>
                       <div class="control">
                           <button class="button is-text">Cancel</button>
                       </div>
                   </div>
               </form>
            <hr>
        </div>
        <div class="column is-desktop" style="border-left: 1px solid #dbdbdb">
            <h5 class="is-size-5 has-text-weight-bold" style="margin-bottom:.5em">Preview</h5>
            <div class="markdown">
                <h5 class="is-size-5 has-text-weight-bold" style="margin-bottom:.5em">{{ title }}</h5>
                <vue-markdown :source="body"></vue-markdown>
            </div>
        </div>
    </div>
</template>

<script>
    import VueMarkdown from 'vue-markdown';
    export default {
        data: function() {
            return {
                title: '',
                body: '',
                status: "1",
                tags: [],
                slugInvalid: false,
                errors: [],
            }
        },
        components: {
            VueMarkdown
        },
        computed: {
            slug: function () {
                return this.title.replace(/\s+/g, '-').toLowerCase()
            }
        },
        methods: {
            submitPost() {
                const vm = this;
                axios.post('/admin/add-post', {
                    title: this.title,
                    slug: this.slug,
                    status: this.status,
                    tags: this.tags,
                    body: this.body
                })
                    .then(function (response) {
                        console.log(response);
                        vm.title = '';
                        vm.body = '';
                        vm.tags = [];
                        vm.status = "1";
                        vm.$toast.open({
                            message: 'The post has been created!',
                            type: 'is-success'
                        })
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors;
                        if (error.response.data.errors.slug)
                        {
                            vm.slugInvalid = true;
                            vm.$toast.open({
                                message: error.response.data.errors.slug[0],
                                type: 'is-danger'
                            })
                        }

                    })
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
