<template>
    <div>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Admin Dashboard
                </h1>
                <h2 class="subtitle">
                    {{ subtitle }}
                </h2>
            </div>
        </div>
    </section>
    <div class="columns is-desktop" style="padding: 0 1em">
        <div class="column is-2-desktop">
            <aside class="menu">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a :class="{ 'is-active' : overviewActive}" @click="setOverviewActive">Overview</a></li>
                </ul>
                <p class="menu-label">
                    Blog
                </p>
                <ul class="menu-list">
                    <li><a :class="{ 'is-active' : postsActive}" @click="setPostsActive">Posts</a></li>
                    <li><a :class="{ 'is-active' : addPostActive}" @click="setAddPostActive">Add Post</a></li>
                </ul>
            </aside>
        </div>
        <div class="column is-desktop">
            <transition name="fade">
                <admin-overview v-if="overviewActive"></admin-overview>
            </transition>
            <transition name="fade">
                <admin-posts v-if="postsActive"></admin-posts>
            </transition>
            <transition name="fade">
                <admin-add-post v-if="addPostActive"></admin-add-post>
            </transition>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data: function(){
            return {
                overviewActive: true,
                postsActive: false,
                addPostActive: false,
                currentRoute: window.location.hash,
                subtitle: 'Overview',
            }
        },
        methods : {
            setOverviewActive() {
                this.overviewActive = true;
                this.postsActive = false;
                this.addPostActive = false;
                this.subtitle = 'Overview';
            },
            setPostsActive() {
                this.overviewActive = false;
                this.postsActive = true;
                this.addPostActive = false;
                this.subtitle = 'Posts';
            },
            setAddPostActive() {
                this.overviewActive = false;
                this.postsActive = false;
                this.addPostActive = true;
                this.subtitle = 'Add Posts';
            },
        },
        mounted() {

        }
    }
</script>
