<template>
    <div>
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Help Guide
                    </h1>
                </div>
            </div>
        </section>
        <div class="container is-fullhd">
            <div class="columns is-desktop">
                <div class="column is-2-desktop">
                    <aside class="menu" style="padding-right: .5em;">
                        <p class="menu-label">Getting Started</p>
                        <ul class="menu-list">
                            <li><a :class="{'is-active' : startHere }" @click.prevent="setStartHere">Start Here</a></li>
                            <!--<li>-->
                                <!--<a :class="{'is-active' : aboutMyCoinGuru }" @click.prevent="setAboutMyCoinGuru">About My Coin Guru</a>-->
                            <!--</li>-->
                            <li>
                                <a :class="{'is-active' : importTransactions }" @click.prevent="setImportTransactions">Import Transactions</a>
                                <ul>
                                    <li><a :class="{'is-active' : coinbase }" @click.prevent="setCoinbaseActive">Coinbase</a></li>
                                    <li><a :class="{'is-active' : gdax }" @click.prevent="setGdaxActive">GDAX</a></li>
                                    <li><a :class="{'is-active' : binance }" @click.prevent="setBinanceActive">Binance</a></li>
                                </ul>
                            </li>
                            <li>
                                <a :class="{'is-active' : addTransactions }" @click.prevent="setAddTransactions">Add Transactions</a>
                                <ul>
                                    <li><a :class="{'is-active' : addCoins }" @click.prevent="setAddCoinsActive">Add Coins</a></li>
                                    <li><a :class="{'is-active' : tradeCoins }" @click.prevent="setTradeCoinsActive">Trade Coins</a></li>
                                    <li><a :class="{'is-active' : sellCoins }" @click.prevent="setSellCoinsActive">Sell Coins</a></li>
                                </ul>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="column is-10-desktop">
                    <transition name="fade">
                    <div class="content" v-if="startHere">
                        <h1>Welcome to My Coin Guru</h1>
                        <p>My Coin Guru is designed to track the current value of your cryptocurrency portfolio, through purchases, trades, and sales.</p>
                        <p>To get started with My Coin Guru, you must add your cryptocurrency transactions in the Dashboard.</p>
                        <h3>Coming Soon:</h3>
                        <ul>
                            <li>About My Coin Guru</li>
                            <ul>
                                <li>Accounting</li>
                                <li>Currency Data</li>
                            </ul>
                            <li>Dashboard Guide</li>
                        </ul>
                    </div>
                    </transition>
                    <transition name="fade">
                        <div class="content" v-if="importTransactions">
                            <h1>Import Transactions</h1>
                            <p>Your transactions can be imported by an automatic process on the <a href="/dashboard#import-coins">Import Coins</a> page.</p>
                            <p>Currently, My Coin Guru supports importing your transactions from
                                <a @click.prevent="setCoinbaseActive">Coinbase</a>,
                                <a @click.prevent="setGdaxActive">GDAX</a>, and
                                <a @click.prevent="setBinanceActive">Binance</a>.</p>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="content" v-if="coinbase">
                            <h1>Coinbase</h1>
                            <p>My Coin Guru uses OAuth and the Coinbase API to connect to your Coinbase account.</p>
                            <p>The API permission is set to <span class="has-text-weight-bold">READ-ONLY</span> - meaning no action can be made other than retrieving your history of purchases and sales.</p>
                            <h4>COINBASE OAUTH SCREENSHOT</h4>
                            <p>After authorizing the Coinbase API to connect to My Coin Guru, MCG will retrieve your transactions and allow you to review them, select desired transactions, and process the import.</p>
                            <h4>MCG IMPORT SCREENSHOT</h4>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="content" v-if="gdax">
                            <h1>GDAX</h1>
                            <p>In order to use the GDAX import, we will create a <span class="has-text-weight-bold">READ-ONLY</span> API access key in your account. This access key will allow MCG to retrieve your purchase, trade, and sale history ONLY.</p>
                            <p>To create the key, sign in at <a href="https://gdax.com">GDAX.com</a>, and go to the API settings from the top-right menu.</p>
                            <p>On the API page, ensure that <code>VIEW</code> is the <span class="has-text-weight-bold">ONLY</span> permission checked, and then click 'Create API Key'.</p>
                            <img src="/img/help/imports/gdax-api1.png">
                            <p>Your API credentials will show below when created:</p>
                            <img src="/img/help/imports/gdax-api2.png">
                            <p>You will need to enter the <code>PASSPHRASE</code>, <code>API KEY</code>, and <code>API SECRET KEY</code> into the <a href="/settings/api">API settings</a> for your MCG account.</p>
                            <h4>MCG API SCREENSHOT</h4>
                            <p>Once the keys are saved, navigate to the Import Coins page in your Dashboard and click 'Start GDAX Import'. MCG will retrieve your transactions and allow you to review them, select desired transactions, and process the import.</p>
                            <h4>MCG IMPORT SCREENSHOT</h4>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="content" v-if="binance">
                            <h1>Binance</h1>
                            <p>In order to import your trades from Binance, you must download/export the <code>Order History</code> report from your Binance account Order History page.</p>
                            <h4>BINANCE ORDER HISTORY EXPORT SCREENSHOT</h4>
                            <p>Binance allows you to export 3-month periods of trade history. If you need to go back more than 3 months, you can download multiple Order History reports with the desired date ranges. </p>
                            <p>Navigate to the <a href="/dashboard#import-coins">Import Coins</a> page in your Dashboard and click 'Choose a file' within the Binance Import section. Select your Binance Order History file.</p>
                            <p>MCG will retrieve your trades and allow you to review them, select desired transactions, and process the import.</p>
                            <h4>MCG IMPORT SCREENSHOT</h4>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="content" v-if="addTransactions">
                            <h1>Add Transactions</h1>
                            <p>You can always manually add purchases, trades, or sales of cryptocurrency in the <a href="/dashboard">Dashboard</a> area.</p>
                            <p><span class="has-text-weight-bold">Note:</span> you cannot trade or sell what does not exist in your inventory! This is also true in real life!</p>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="content" v-if="addCoins">
                            <h1>Add Coins</h1>
                            <p>Add your cryptocurrency purchases on the <a href="/dashboard#add-coins">Add Coins</a> page in your Dashboard.</p>
                            <hr>
                            <h5>Recording Purchases</h5>
                            <p><span style="font-style:italic">Required Info:</span> Purchased coin, amount, subtotal (cost of entire purchase minus fees paid), fees (in USD and if available), and the purchase date and time.</p>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="content" v-if="tradeCoins">
                            <h1>Trade Coins</h1>
                            <p>Add your cryptocurrency trades on the <a href="/dashboard#trade-coins">Trade Coins</a> page in your Dashboard.</p>
                            <p>At this time, My Coin Guru supports trading in and out of Bitcoin and Ethereum.</p>
                            <p>A form exists for trading <code>BTC to Coin</code>, <code>Coin to BTC</code>, <code>ETH to Coin</code>, or <code>Coin to ETH</code> - simply visit the appropriate tab on the Trade Coins page.</p>
                            <hr>
                            <h5>BTC to Coin | ETH to Coin</h5>
                            <p><span style="font-style:italic">Required Info:</span> Received Coin, Amount BTC/ETH traded, Amount Coin received, Price/Ratio of BTC or ETH divided by Coin, trade date and time.</p>
                            <hr>
                            <h5>Coin to BTC | Coin to ETH</h5>
                            <p><span style="font-style:italic">Required Info:</span> Traded Coin, Amount Coin traded, Amount BTC/ETH received, Price/Ratio of BTC or ETH divided by Coin, trade date and time.</p>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="content" v-if="sellCoins">
                            <h1>Sell Coins</h1>
                            <p>Add your cryptocurrency sales on the <a href="/dashboard#sell-coins">Sell Coins</a> page in your Dashboard.</p>
                            <hr>
                            <h5>Recording Sales</h5>
                            <p><span style="font-style:italic">Required Info:</span> Sold coin, amount, USD per 1 coin, fees (in USD and if available), and the sale date and time.</p>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                startHere: true,
                aboutMyCoinGuru: false,
                importTransactions: false,
                addTransactions: false,
                coinbase: false,
                gdax: false,
                binance: false,
                addCoins: false,
                tradeCoins: false,
                sellCoins: false
            }
        },
        methods: {
            setStartHere() {
                this.startHere = true;
                this.aboutMyCoinGuru = false;
                this.importTransactions = false;
                this.addTransactions = false;
                this.coinbase = false;
                this.gdax = false;
                this.binance = false;
                this.addCoins = false;
                this.tradeCoins = false;
                this.sellCoins = false;
            },
            setAboutMyCoinGuru() {
                this.startHere = false;
                this.aboutMyCoinGuru = true;
                this.importTransactions = false;
                this.addTransactions = false;
                this.coinbase = false;
                this.gdax = false;
                this.binance = false;
                this.addCoins = false;
                this.tradeCoins = false;
                this.sellCoins = false;
            },
            setImportTransactions() {
                this.startHere = false;
                this.aboutMyCoinGuru = false;
                this.importTransactions = true;
                this.addTransactions = false;
                this.coinbase = false;
                this.gdax = false;
                this.binance = false;
                this.addCoins = false;
                this.tradeCoins = false;
                this.sellCoins = false;
            },
            setAddTransactions() {
                this.startHere = false;
                this.aboutMyCoinGuru = false;
                this.importTransactions = false;
                this.addTransactions = true;
                this.coinbase = false;
                this.gdax = false;
                this.binance = false;
                this.addCoins = false;
                this.tradeCoins = false;
                this.sellCoins = false;
            },
            setCoinbaseActive() {
                this.startHere = false;
                this.aboutMyCoinGuru = false;
                this.importTransactions = false;
                this.addTransactions = false;
                this.coinbase = true;
                this.gdax = false;
                this.binance = false;
                this.addCoins = false;
                this.tradeCoins = false;
                this.sellCoins = false;
            },
            setGdaxActive() {
                this.startHere = false;
                this.aboutMyCoinGuru = false;
                this.importTransactions = false;
                this.addTransactions = false;
                this.coinbase = false;
                this.gdax = true;
                this.binance = false;
                this.addCoins = false;
                this.tradeCoins = false;
                this.sellCoins = false;
            },
            setBinanceActive() {
                this.startHere = false;
                this.aboutMyCoinGuru = false;
                this.importTransactions = false;
                this.addTransactions = false;
                this.coinbase = false;
                this.gdax = false;
                this.binance = true;
                this.addCoins = false;
                this.tradeCoins = false;
                this.sellCoins = false;
            },
            setAddCoinsActive() {
                this.startHere = false;
                this.aboutMyCoinGuru = false;
                this.importTransactions = false;
                this.addTransactions = false;
                this.coinbase = false;
                this.gdax = false;
                this.binance = false;
                this.addCoins = true;
                this.tradeCoins = false;
                this.sellCoins = false;
            },
            setTradeCoinsActive() {
                this.startHere = false;
                this.aboutMyCoinGuru = false;
                this.importTransactions = false;
                this.addTransactions = false;
                this.coinbase = false;
                this.gdax = false;
                this.binance = false;
                this.addCoins = false;
                this.tradeCoins = true;
                this.sellCoins = false;
            },
            setSellCoinsActive() {
                this.startHere = false;
                this.aboutMyCoinGuru = false;
                this.importTransactions = false;
                this.addTransactions = false;
                this.coinbase = false;
                this.gdax = false;
                this.binance = false;
                this.addCoins = false;
                this.tradeCoins = false;
                this.sellCoins = true;
            },
        },
        mounted() {
            // console.log('Component mounted.')
        }
    }
</script>
