<template>
    <span>
        <i class="bt" :class="'bt-'+formattedIcon"></i>
    </span>
</template>

<script>
    export default {
        data: function(){
            return {
                formattedIcon: this.icon.toLowerCase()
            }
        },
        props: ['icon'],
        mounted() {
        }
    }
</script>
