<style>
    .ais-results {
        position: absolute;
        z-index: 1;
        padding: 1rem;
        background-color: white;
        -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    }
    .ais-input {
        -moz-appearance: none;
        -webkit-appearance: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: 1rem;
        height: 2.25em;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        line-height: 1.5;
        padding-bottom: calc(0.375em - 1px);
        padding-left: calc(0.625em - 1px);
        padding-right: calc(0.625em - 1px);
        padding-top: calc(0.375em - 1px);
        position: relative;
        vertical-align: top;
        background-color: white;
        border-color: #dbdbdb;
        color: #363636;
        -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
        max-width: 100%;
        width: 100%;
    }
</style>
<template>
    <div>
        <ais-index :app-id="app"
                   :api-key="api"
                   index-name="coins">

            <ais-input placeholder="Search coins..." @query="checkLength"></ais-input>

            <ais-results v-show="queryLength">
                <template slot-scope="{ result }">
                    <div>
                        <a :href="'https://coinmarketcap.com/currencies/' + result.name | coinurl" target="_blank" rel="noopener">
                        <h1>{{ result.name }}</h1>
                        </a>
                    </div>
                </template>
            </ais-results>

        </ais-index>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                queryLength: false,
            }
        },
        props: ['app', 'api'],
        methods: {
            checkLength(query) {
                if (query.length > 0)
                {
                    this.queryLength = true
                } else {
                    this.queryLength = false
                }
            }
        },
        filters: {
            coinurl: function (value) {
                return value.replace(/\s+/g, '-').toLowerCase()
            }
        },
        mounted() {

        }
    }
</script>
