
<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Confirm Deletion</p>
        </header>

        <section class="modal-card-body has-text-centered">
            <p v-if="type == 'transactions'">Are you sure you want to delete this purchase?</p>
            <p v-else-if="type == 'sales'">Are you sure you want to delete this sale?</p>
            <p v-else>Are you sure you want to delete this trade? This will remove all associated trade data.</p>
        </section>
        <footer class="modal-card-foot">
            <button class="button" type="button" @click="$parent.close()">Cancel</button>
            <button class="button is-danger" @click.prevent="confirmDelete">Delete</button>
        </footer>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {

            }
        },
        props: ['type', 'id'],
        methods: {
            confirmDelete() {
                let url = '/dashboard/' + this.type + '/delete/' + this.id;
                axios.get(url)
                    .then(response => {
                        console.log(response);
                        this.$parent.$emit('deleted');
                        this.$parent.close();
                    })
                    .catch(error => {
                        console.log(error)
                    });
            }
        },
        mounted() {
        }
    }
</script>
