
<template>
    <div>
    <p>
        Donate ETH: <small><a @click="setModalActive">0x14d192eEB333dBA5543c0C272d3db2b0399Bdf1a</a></small>
    </p>
    <b-modal :active.sync="isEthModalActive" has-modal-card>
        <div class="modal-card">
            <section class="modal-card-body">
                <p class="modal-card-title m-b-20">Donate ETH</p>
                <p class="m-b-20"><b>Address:&nbsp;</b>0x14d192eEB333dBA5543c0C272d3db2b0399Bdf1a</p>
                <img src="/img/donate_eth.png">
            </section>
        </div>
    </b-modal>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                isEthModalActive: false,
            }
        },
        methods: {
            setModalActive()
            {
                this.isEthModalActive = true;
            }
        },
        mounted() {
        }
    }
</script>
