 <style>
    .fixed-bottom-right {
        width: 200px;
        position: fixed;
        bottom: 1%;
        right: 1%;
    }
</style>
<template>
    <b-notification :type="type">
        <slot></slot>
    </b-notification>
</template>

<script>
    export default {
        data: function(){
            return {
            }
        },
        props: ['type'],
        watch: {
            // whenever question changes, this function will run
            question: function (newQuestion) {
                this.answer = 'Waiting for you to stop typing...'
                this.getAnswer()
            }
        },
        mounted() {
        }
    }
</script>
