<style>
    .bottom-right-progress {
        width: 200px;
        position: fixed;
        bottom: 1%;
        right: 1%;
    }
</style>
<template>
    <div>
        <progress class="progress is-link bottom-right-progress" :value="value" max="100">{{ value }}%</progress>
    </div>
</template>

<script>
    export default {
        props: ['value']
    }
</script>
