
<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Watchlist</p>
        </header>

        <section class="modal-card-body" style="min-height:400px">
            <p class="has-text-weight-bold">My Watchlist</p>
            <div class="field is-grouped is-grouped-multiline m-t-10">
                <div class="control" v-for="coin in coins">
                    <div class="tags has-addons">
                        <span class="tag">{{ coin.symbol }}</span>
                        <a class="tag is-delete is-danger" @click.prevent="removeCoin(coin)"></a>
                    </div>
                </div>
            </div>
            <hr>
            <b-field label="Add to watchlist">
                <b-autocomplete
                        v-model="coinToAdd"
                        placeholder="e.g. BTC"
                        :keep-first="false"
                        :data="filteredDataObj"
                        field="symbol"
                        @select="option => selected = option">
                </b-autocomplete>
            </b-field>
            <div class="field is-pulled-right">
                <button class="button is-primary" v-if="selected" @click.prevent="addCoin(selected)">Add</button>
                <button class="button is-primary" disabled="disabled" v-else>Add</button>
            </div>
        </section>
        <footer class="modal-card-foot" style="justify-content: flex-end">
            <button class="button" type="button" @click="$parent.close()">Close</button>
        </footer>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                availableCoins: [],
                coinToAdd: '',
                selected: null,
            }
        },
        props: ['coins'],
        created: function() {
            this.getAvailableCoins();
        },
        computed: {
            filteredDataObj() {
                return this.availableCoins.filter((option) => {
                    return option.symbol
                        .toString()
                        .toLowerCase()
                        .indexOf(this.coinToAdd.toLowerCase()) >= 0
                })
            }
        },
        methods: {
            getAvailableCoins() {
                const vm = this;
                axios.get('/dashboard/watchlist/available-coins')
                    .then(response => {
                        vm.availableCoins = response.data;
                    })
            },
            addCoin () {
                const vm = this;
                axios.post('/dashboard/watchlist', {
                    id: this.selected.id
                })
                    .then(response => {
                        vm.selected = null;
                        vm.coinToAdd = '';
                        this.$parent.$emit('changed-watchlist');
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            removeCoin(coin) {
                const vm = this;
                // axios..
                let url = '/dashboard/watchlist/delete/' + coin.id;
                axios.get(url)
                    .then(response => {
                        vm.availableCoins.push(coin);
                        this.$parent.$emit('changed-watchlist');
                    })
            }
        },
        mounted() {
        }
    }
</script>
