<template>
    <div class="card">
        <div class="card-content">
            <div>
                <h1 class="title" style="margin-bottom:0">
                    <coin-icon :icon="tradedCoin.coin.icon" v-if="tradedCoin"></coin-icon>
                    <i class="fa fa-question-circle-o" aria-hidden="true" v-else></i>
                    <i class="fa fa-long-arrow-right"></i>
                    <coin-icon :icon="receivedCoin.icon" v-if="receivedCoin"></coin-icon>
                    <i class="fa fa-question-circle-o" aria-hidden="true" v-else></i>
                </h1>
                <h2 class="menu-label" v-if="tradedCoin && receivedCoin">{{tradedCoin.coin.symbol}} to {{receivedCoin.symbol}}</h2>
                <h2 class="menu-label" v-else>Coin to Coin</h2>
            </div>
            <b-field label="I Traded" class="m-t-10">
                <b-select placeholder="Select a coin" v-model="tradedCoin">
                    <option
                            v-for="coin in myCoins"
                            :value="coin"
                            :key="coin.coin.symbol">
                        {{ coin.coin.symbol }}
                    </option>
                </b-select>
            </b-field>
            <b-field :label="tradedCoin.coin.symbol + ' Amount'" v-if="tradedCoin">
                <b-input type="number" min="0" step="any" :max="tradedCoin.amount" placeholder="Coin Quantity" v-model="tradedAmount"></b-input>
            </b-field>
            <b-field label="Amount" v-else>
                <b-input type="number" min="0" step="any" placeholder="Coin Quantity" v-model="tradedAmount"></b-input>
            </b-field>
            <b-field label="I Received" class="m-t-10">
                <b-select placeholder="Select a coin" v-model="receivedCoin">
                    <option
                            v-for="coin in allCoins"
                            :value="coin"
                            :key="coin.symbol">
                        {{ coin.symbol }}
                    </option>
                </b-select>
            </b-field>
            <b-field :label="'@ BTC / ' + notBtcSymbol" v-if="receivedCoin && tradedCoin">
                <b-input type="number" min="0.00000001" step="any" placeholder="Coin Ratio" v-model="receivedOverTraded"></b-input>
            </b-field>
            <b-field label="Coin Ratio" v-else>
                <b-input type="number" min="0.00000001" step="any" placeholder="Coin Ratio" v-model="receivedOverTraded"></b-input>
            </b-field>
            <b-field label="Purchase Date">
                <b-datepicker
                        placeholder="Click to select..."
                        icon="calendar" v-model="date">
                </b-datepicker>
            </b-field>
            <b-field label="Purchase Time">
            </b-field>
            <b-field grouped>
                <b-input v-model="hour"
                         type="number"
                         min="00"
                         max="12"
                         step="1"
                         expanded>
                </b-input>
                <b-input v-model="minute"
                         type="number"
                         min="00"
                         max="59"
                         step="1"
                         expanded>
                </b-input>
                <b-select v-model="amPm">
                    <option>AM</option>
                    <option>PM</option>
                </b-select>
            </b-field>
            <b-field class="m-t-20" style="display:flex;justify-content:flex-end;">
                <p class="control">
                    <button class="button is-primary" @click.prevent="submitTrade" v-if="tradedCoin && tradedAmount && receivedCoin && receivedOverTraded">Trade</button>
                    <button class="button is-primary" @click.prevent="submitTrade" disabled v-else>Trade</button>
                </p>
            </b-field>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                tradedCoin: '',
                receivedCoin: '',
                tradedAmount: '',
                receivedOverTraded: '',
                symbol: '',
                date: new Date(),
                hour: '12',
                minute: '00',
                amPm: 'AM',
                selected: null,
                notBtcSymbol: '',
                btcTradedOrReceived: '',
            }
        },
        props: ['myCoins', 'allCoins'],
        methods: {
            submitTrade(){
                const vm = this;
                axios.post('/dashboard/trade/coin-to-coin', {
                    tradedCoin: this.tradedCoin.coin.symbol,
                    tradedAmount: this.tradedAmount,
                    receivedCoin: this.receivedCoin.symbol,
                    receivedOverTraded: this.receivedOverTraded,
                    date: this.date,
                    hour: this.hour,
                    minute: this.minute,
                    amPm: this.amPm
                })
                    .then(function (response) {
                        console.log(response.data);
                        vm.postSuccess = true;
                        vm.tradedCoin = '';
                        vm.tradedAmount = '';
                        vm.receivedCoin = '';
                        vm.receivedOverTraded = '';
                        vm.date = new Date();
                        vm.hour = '12';
                        vm.minute = '00';
                        vm.amPm = 'AM';
                        vm.$toast.open({
                            message: 'Your trade has been added!',
                            type: 'is-success'
                        })
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
        },
        computed: {
            filteredDataArray() {
                return this.allCoins.filter((option) => {
                    return option
                        .toString()
                        .toLowerCase()
                        .indexOf(this.symbol.toLowerCase()) >= 0
                })
            }
        },
        mounted() {
        }
    }
</script>
