<template>
    <div class="card">
        <div class="card-content">
            <div>
                <h1 class="title" style="margin-bottom:0">
                    <i class="bt" :class="'bt-'+tradedCoin.toLowerCase()" v-if="tradedCoin"></i>
                    <i class="fa fa-question-circle-o" aria-hidden="true" v-else></i>&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;<coin-icon :icon="'ETH'"></coin-icon>
                </h1>
                <h2 class="menu-label" v-if="tradedCoin">{{tradedCoin}} to ETH</h2>
                <h2 class="menu-label" v-else>Coin to ETH</h2>
            </div>
            <b-field label="I Traded" class="m-t-10">
                <selectize placeholder="Type or select a coin" v-model="tradedCoin" @change="getMaxForTrade(tradedCoin)"> <!-- settings is optional -->
                    <option v-for="holding in myCoins.holdings" :value="holding.coin_symbol">{{ holding.coin_symbol }}</option>
                </selectize>
            </b-field>
            <b-field :label="tradedCoin + ' Amount'" v-if="tradedCoin">
                <b-input type="number" min="0" :max="getMaxForTrade[0].amount" step="any" :placeholder="tradedCoin + ' Quantity'" v-model="tradedAmount"></b-input>
            </b-field>
            <b-field label="ETH Amount">
                <b-input type="number" min="0" step="any" placeholder="ETH Quantity" v-model="receivedAmount"></b-input>
            </b-field>
            <b-field :label="'@ ETH / ' + tradedCoin" v-if="tradedCoin">
                <b-input type="number" min="0.00000001" step="any" placeholder="Coin Ratio" v-model="ethRatio"></b-input>
            </b-field>
            <b-field label="Purchase Date">
                <b-datepicker
                        placeholder="Click to select..."
                        icon="calendar" v-model="date">
                </b-datepicker>
            </b-field>
            <b-field label="Purchase Time">
            </b-field>
            <b-field grouped>
                <b-input v-model="hour"
                         type="number"
                         min="00"
                         max="12"
                         step="1"
                         expanded>
                </b-input>
                <b-input v-model="minute"
                         type="number"
                         min="00"
                         max="59"
                         step="1"
                         expanded>
                </b-input>
                <b-select v-model="amPm">
                    <option>AM</option>
                    <option>PM</option>
                </b-select>
            </b-field>
            <b-field class="m-t-20" style="display:flex;justify-content:flex-end;">
                <p class="control">
                    <button class="button is-primary" @click.prevent="submitTrade" v-if="tradedCoin && tradedAmount && receivedAmount && ethRatio && (tradedAmount <= getMaxForTrade[0].amount)">Trade</button>
                    <button class="button is-primary" @click.prevent="submitTrade" disabled v-else>Trade</button>
                </p>
            </b-field>
        </div>
    </div>
</template>

<script>
    import Selectize from 'vue2-selectize'

    export default {
        components: {
            Selectize
        },
        data: function () {
            return {
                tradedCoin: '',
                tradedAmount: '',
                receivedAmount: '',
                ethRatio: '',
                symbol: '',
                date: new Date(),
                hour: '12',
                minute: '00',
                amPm: 'AM',
                selected: null,
            }
        },
        props: ['myCoins', 'allCoins'],
        methods: {
            submitTrade(){
                const vm = this;
                axios.post('/dashboard/trade/coin-to-eth', {
                    tradedCoin: this.tradedCoin,
                    tradedAmount: this.tradedAmount,
                    receivedCoin: 'ETH',
                    receivedAmount: this.receivedAmount,
                    ethRatio: this.ethRatio,
                    date: this.date,
                    hour: this.hour,
                    minute: this.minute,
                    amPm: this.amPm
                })
                    .then(function (response) {
                        console.log(response.data);
                        vm.postSuccess = true;
                        vm.tradedAmount = '';
                        vm.tradedCoin = '';
                        vm.receivedAmount = '';
                        vm.ethRatio = '';
                        vm.date = new Date();
                        vm.hour = '12';
                        vm.minute = '00';
                        vm.amPm = 'AM';
                        vm.$toast.open({
                            message: 'Your trade has been added!',
                            type: 'is-success'
                        })
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
        },
        computed: {
            getMaxForTrade() {
                return this.myCoins.filter((holding) => {
                    return holding.coin_symbol
                        .toString()
                        .toLowerCase()
                        .indexOf(this.tradedCoin.toLowerCase()) >= 0
                })
            },
            btcArray() {
                return this.myCoins.holdings.filter(holding => holding.coin_symbol === 'ETH')
            }
        },
        mounted() {
        }
    }
</script>
