<template>
    <div class="card">
        <div class="card-content">
            <div>
                <h1 class="title" style="margin-bottom:0">
                    <i class="bt" :class="'bt-'+tradedCoin.toLowerCase()" v-if="tradedCoin"></i>
                    <i class="fa fa-question-circle-o" aria-hidden="true" v-else></i>&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;<i class="bt bt-btc" aria-hidden="true"></i>
                </h1>
                <h2 class="menu-label" v-if="tradedCoin">{{tradedCoin}} to BTC</h2>
                <h2 class="menu-label" v-else>Coin to BTC</h2>
            </div>
            <b-field label="I Traded" class="m-t-10">
                <selectize placeholder="Type or select a coin" v-model="tradedCoin" @change="getMaxForTrade(tradedCoin)"> <!-- settings is optional -->
                    <option v-for="holding in myCoins.holdings" :value="holding.coin_symbol">{{ holding.coin_symbol }}</option>
                </selectize>
                <!--<b-select placeholder="Select a coin" v-model="tradedCoin">-->
                    <!--<option-->
                            <!--v-for="coin in myCoins"-->
                            <!--:value="coin"-->
                            <!--:key="coin.coin_symbol">-->
                        <!--{{ coin.coin_symbol }}-->
                    <!--</option>-->
                <!--</b-select>-->
            </b-field>
            <b-field :label="tradedCoin + ' Amount'" v-if="tradedCoin">
                <b-input type="number" min="0" :max="getMaxForTrade[0].amount" step="any" :placeholder="tradedCoin + ' Quantity'" v-model="tradedAmount"></b-input>
            </b-field>
            <b-field label="BTC Amount">
                <b-input type="number" min="0" step="any" placeholder="BTC Quantity" v-model="receivedAmount"></b-input>
            </b-field>
            <b-field :label="'@ BTC / ' + tradedCoin" v-if="tradedCoin">
                <b-input type="number" min="0.00000001" step="any" placeholder="Coin Ratio" v-model="btcRatio"></b-input>
            </b-field>
            <b-field label="Purchase Date">
                <b-datepicker
                        placeholder="Click to select..."
                        icon="calendar" v-model="date">
                </b-datepicker>
            </b-field>
            <b-field label="Purchase Time">
            </b-field>
            <b-field grouped>
                <b-input v-model="hour"
                         type="number"
                         min="00"
                         max="12"
                         step="1"
                         expanded>
                </b-input>
                <b-input v-model="minute"
                         type="number"
                         min="00"
                         max="59"
                         step="1"
                         expanded>
                </b-input>
                <b-select v-model="amPm">
                    <option>AM</option>
                    <option>PM</option>
                </b-select>
            </b-field>
            <b-field class="m-t-20" style="display:flex;justify-content:flex-end;">
                <p class="control">
                    <button class="button is-primary" @click.prevent="submitTrade" v-if="tradedCoin && tradedAmount && receivedAmount && btcRatio && (tradedAmount <= getMaxForTrade[0].amount)">Trade</button>
                    <button class="button is-primary" @click.prevent="submitTrade" disabled v-else>Trade</button>
                </p>
            </b-field>
        </div>
    </div>
</template>

<script>
    import Selectize from 'vue2-selectize'

    export default {
        components: {
            Selectize
        },
        data: function () {
            return {
                tradedCoin: '',
                tradedAmount: '',
                receivedAmount: '',
                btcRatio: '',
                symbol: '',
                date: new Date(),
                hour: '12',
                minute: '00',
                amPm: 'AM',
                selected: null,
            }
        },
        props: ['myCoins', 'allCoins'],
        methods: {
            submitTrade(){
                const vm = this;
                axios.post('/dashboard/trade/coin-to-btc', {
                    tradedCoin: this.tradedCoin,
                    tradedAmount: this.tradedAmount,
                    receivedCoin: 'BTC',
                    receivedAmount: this.receivedAmount,
                    btcRatio: this.btcRatio,
                    date: this.date,
                    hour: this.hour,
                    minute: this.minute,
                    amPm: this.amPm
                })
                    .then(function (response) {
                        console.log(response.data);
                        vm.postSuccess = true;
                        vm.tradedAmount = '';
                        vm.tradedCoin = '';
                        vm.receivedAmount = '';
                        vm.btcRatio = '';
                        vm.date = new Date();
                        vm.hour = '12';
                        vm.minute = '00';
                        vm.amPm = 'AM';
                        vm.$toast.open({
                            message: 'Your trade has been added!',
                            type: 'is-success'
                        })
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            getMaxForTrade(tradedCoin)
            {

            }
        },
        computed: {
            getMaxForTrade: {
                get: function () {
                    return this.myCoins.filter((holding) => {
                        return holding.coin_symbol
                            .toString()
                            .toLowerCase()
                            .indexOf(this.tradedCoin.toLowerCase()) >= 0
                    })
                },
                set: function (coin_symbol)
                {
                    coin_symbol = 'BTC'
                }
            },

            btcArray() {
                return this.myCoins.holdings.filter(holdings => holdings.coin_symbol === 'BTC')
            }
        },
        mounted() {
        }
    }
</script>
