<template>
    <div class="card">
        <div class="card-content">
            <div>
                <h1 class="title" style="margin-bottom:0">
                    <i class="cc ETH" aria-hidden="true"></i>
                    <i class="fa fa-long-arrow-right"></i>
                    <i class="cc" :class="receivedCoin" aria-hidden="true" v-if="receivedCoin"></i>
                    <i class="fa fa-question-circle-o" aria-hidden="true" v-else></i>
                </h1>
                <h2 class="menu-label" v-if="receivedCoin">ETH to {{receivedCoin}}</h2>
                <h2 class="menu-label" v-else>ETH to Coin</h2>
            </div>
            <b-field label="ETH Amount">
                <b-input type="number" min="0" :max="ethArray[0].amount" step="any" placeholder="ETH Quantity" v-model="tradedAmount"></b-input>
            </b-field>
            <b-field label="I Received" class="m-t-10">
                <selectize placeholder="Type or select a coin" v-model="receivedCoin"> <!-- settings is optional -->
                    <option v-for="coin in allCoins" :value="coin.symbol">{{ coin.symbol }}</option>
                </selectize>
            </b-field>
            <b-field :label="receivedCoin + ' Amount'" v-if="receivedCoin">
                <b-input type="number" min="0" step="any" :placeholder="receivedCoin + ' Quantity'" v-model="receivedAmount"></b-input>
            </b-field>
            <b-field :label="'@ ETH / ' + receivedCoin" v-if="receivedCoin">
                <b-input type="number" min="0.00000001" step="any" placeholder="Coin Ratio" v-model="ethRatio"></b-input>
            </b-field>
            <b-field label="Purchase Date">
                <b-datepicker
                        placeholder="Click to select..."
                        icon="calendar" v-model="date">
                </b-datepicker>
            </b-field>
            <b-field label="Purchase Time">
            </b-field>
            <b-field grouped>
                <b-input v-model="hour"
                         type="number"
                         min="00"
                         max="12"
                         step="1"
                         expanded>
                </b-input>
                <b-input v-model="minute"
                         type="number"
                         min="00"
                         max="59"
                         step="1"
                         expanded>
                </b-input>
                <b-select v-model="amPm">
                    <option>AM</option>
                    <option>PM</option>
                </b-select>
            </b-field>
            <b-field class="m-t-20" style="display:flex;justify-content:flex-end;">
                <p class="control">
                    <button class="button is-primary" @click.prevent="submitTrade" v-if="tradedAmount && receivedCoin && ethRatio && (tradedAmount <= ethArray[0].amount)">Trade</button>
                    <button class="button is-primary" @click.prevent="submitTrade" disabled v-else>Trade</button>
                </p>
            </b-field>
        </div>
    </div>
</template>

<script>
    import Selectize from 'vue2-selectize'

    export default {
        components: {
            Selectize
        },
        data: function () {
            return {
                receivedCoin: '',
                tradedAmount: '',
                receivedAmount: '',
                ethRatio: '',
                symbol: '',
                date: new Date(),
                hour: '12',
                minute: '00',
                amPm: 'AM',
                selected: null,
            }
        },
        props: ['myCoins', 'allCoins'],
        methods: {
            submitTrade(){
                const vm = this;
                axios.post('/dashboard/trade/eth-to-coin', {
                    tradedCoin: 'ETH',
                    tradedAmount: this.tradedAmount,
                    receivedCoin: this.receivedCoin,
                    receivedAmount: this.receivedAmount,
                    ethRatio: this.ethRatio,
                    date: this.date,
                    hour: this.hour,
                    minute: this.minute,
                    amPm: this.amPm
                })
                    .then(function (response) {
                        console.log(response.data);
                        vm.postSuccess = true;
                        vm.tradedAmount = '';
                        vm.receivedCoin = '';
                        vm.receivedAmount = '';
                        vm.ethRatio = '';
                        vm.date = new Date();
                        vm.hour = '12';
                        vm.minute = '00';
                        vm.amPm = 'AM';
                        vm.$toast.open({
                            message: 'Your trade has been added!',
                            type: 'is-success'
                        })
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
        },
        computed: {
            filteredDataArray() {
                return this.allCoins.filter((option) => {
                    return option
                        .toString()
                        .toLowerCase()
                        .indexOf(this.symbol.toLowerCase()) >= 0
                })
            },
            ethArray() {
                return this.myCoins.holdings.filter(holding => holding.coin_symbol === 'ETH')
            }
        },
        mounted() {
        }
    }
</script>
