<template>
    <div id="trade-coins">
        <div class="row">
            <div class="tabs">
                <ul>
                    <li :class="{'is-active' : tradeBtcToCoin }" @click="getTradeBtcToCoin">
                        <a>
                            <span class="icon is-small"><i class="cc BTC" aria-hidden="true"></i></span>
                            <span>BTC to Coin</span>
                        </a>
                    </li>
                    <li :class="{'is-active' : tradeCoinToBtc }" @click="getTradeCoinToBtc">
                        <a>
                            <span class="icon is-small"><i class="cc BTC" aria-hidden="true"></i></span>
                            <span>Coin to BTC</span>
                        </a>
                    </li>
                    <li :class="{'is-active' : tradeEthToCoin }" @click="getTradeEthToCoin">
                        <a>
                            <span class="icon is-small"><i class="cc ETH" aria-hidden="true"></i></span>
                            <span>ETH to Coin</span>
                        </a>
                    </li>
                    <li :class="{'is-active' : tradeCoinToEth }" @click="getTradeCoinToEth">
                        <a>
                            <span class="icon is-small"><i class="cc ETH" aria-hidden="true"></i></span>
                            <span>Coin to ETH</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <section class="section">
            <div class="columns is-centered is-multiline" v-if="myCoins.length <= 0">
                <div class="column is-12 is-6-desktop has-text-centered">
                        <h2 class="is-size-5">You currently have no coins.</h2>
                        <h2 class="is-size-4"><a href="#add-coins" @click="goToAddCoins">Add Coins</a></h2>
                </div>
            </div>
            <div class="columns is-centered is-multiline" v-else>
                <div class="column is-12 is-6-desktop" v-if="tradeBtcToCoin">
                    <btc-to-coin :my-coins="myCoins" :all-coins="allCoins"></btc-to-coin>
                </div>
                <div class="column is-12 is-6-desktop" v-if="tradeCoinToBtc">
                    <coin-to-btc :my-coins="myCoins" :all-coins="allCoins"></coin-to-btc>
                </div>
                <div class="column is-12 is-6-desktop" v-if="tradeEthToCoin">
                    <eth-to-coin :my-coins="myCoins" :all-coins="allCoins"></eth-to-coin>
                </div>
                <div class="column is-12 is-6-desktop" v-if="tradeCoinToEth">
                    <coin-to-eth :my-coins="myCoins" :all-coins="allCoins"></coin-to-eth>
                </div>
                <div class="column is-12 is-4-desktop" v-if="tradeUsd">
                    <coin-to-coin :my-coins="myCoins" :all-coins="allCoins"></coin-to-coin>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                myCoins: [],
                allCoins: [],
                tradeBtcToCoin: true,
                tradeCoinToBtc: false,
                tradeEthToCoin: false,
                tradeCoinToEth: false,
                tradeUsd: false
            }
        },
        created: function() {
            this.getTradeableCoins();
            this.getCoins();
        },
        methods : {
            getTradeableCoins() {
                const vm = this;
                axios.get('/dashboard/holdings/by-coin')
                    .then(function (response) {
                        vm.myCoins = response.data;
                    })
            },
            getCoins() {
                const vm = this;
                axios.get('/coins/get')
                    .then(function (response) {
                        vm.allCoins = response.data;
                    })
            },
            goToAddCoins() {
                this.$parent.setAddCoinsActive();
            },
            getTradeBtcToCoin() {
                this.tradeBtcToCoin = true;
                this.tradeCoinToBtc = false;
                this.tradeEthToCoin = false;
                this.tradeCoinToEth = false;
                this.tradeUsd = false;
            },
            getTradeCoinToBtc() {
                this.tradeBtcToCoin = false;
                this.tradeCoinToBtc = true;
                this.tradeEthToCoin = false;
                this.tradeCoinToEth = false;
                this.tradeUsd = false;
            },
            getTradeEthToCoin() {
                this.tradeBtcToCoin = false;
                this.tradeCoinToBtc = false;
                this.tradeEthToCoin = true;
                this.tradeCoinToEth = false;
                this.tradeUsd = false;
            },
            getTradeCoinToEth() {
                this.tradeBtcToCoin = false;
                this.tradeCoinToBtc = false;
                this.tradeEthToCoin = false;
                this.tradeCoinToEth = true;
                this.tradeUsd = false;
            },
            getTradeUsd() {
                this.tradeBtcToCoin = false;
                this.tradeCoinToBtc = false;
                this.tradeEthToCoin = false;
                this.tradeCoinToEth = false;
                this.tradeUsd = true;
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
