<style>
    .dashboard {
        margin-top: 2rem;
    }
    @media (min-width: 1024px) {
        .portfolio {
            margin-top: 2rem;
        }
    }
</style>
<template>
    <div>
        <div v-if="!overviewTableFullscreen">
    <div class="container dashboard">
            <div class="columns is-desktop">
                <div class="column is-2-desktop">
                    <h1 class="title">
                        Dashboard
                    </h1>
                    <h2 class="subtitle">
                        {{ subtitle }}
                    </h2>
                    <aside class="menu">
                        <p class="menu-label">
                            General
                        </p>
                        <ul class="menu-list">
                            <li><a href="#portfolio" v-bind:class="{ 'is-active' : portfolioActive}" @click="setPortfolioActive">Portfolio</a></li>
                            <li><a href="#tools" v-bind:class="{ 'is-active' : toolsActive}" @click="setToolsActive">Tools</a></li>
                            <!--<li><a disabled>My Purchases</a></li>-->
                            <!--<li><a href="#trades" v-bind:class="{ 'is-active' : myTradesActive}" @click="setMyTradesActive">My Trades</a></li>-->
                            <!--<li><a href="#sales" v-bind:class="{ 'is-active' : mySalesActive}" @click="setMySalesActive">My Sales</a></li>-->
                        </ul>
                        <p class="menu-label">
                            Manage
                        </p>
                        <ul class="menu-list">
                            <li><a href="#add-coins" v-bind:class="{ 'is-active' : addCoinsActive}" @click="setAddCoinsActive">Add Coins</a></li>
                            <li><a href="#trade-coins" v-bind:class="{ 'is-active' : tradeCoinsActive}" @click="setTradeCoinsActive">Trade Coins</a></li>
                            <li><a href="#sell-coins" v-bind:class="{ 'is-active' : sellCoinsActive}" @click="setSellCoinsActive">Sell Coins</a></li>
                            <li><a href="#import-coins" v-bind:class="{ 'is-active' : importCoinsActive}" @click="setImportCoinsActive">Import Coins</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="column is-10-desktop portfolio">
                    <transition name="fade">
                        <portfolio v-if="portfolioActive" @toggleFullscreen="toggleFullscreen" ref="portfolioComponent"></portfolio>
                    </transition>
                    <!--<transition name="fade">-->
                        <!--<my-trades v-if="myTradesActive"></my-trades>-->
                    <!--</transition>-->
                    <!--<transition name="fade">-->
                        <!--<my-sales v-if="mySalesActive"></my-sales>-->
                    <!--</transition>-->
                    <transition name="fade">
                        <add-coins v-if="addCoinsActive"></add-coins>
                    </transition>
                    <transition name="fade">
                        <trade-coins v-if="tradeCoinsActive"></trade-coins>
                    </transition>
                    <transition name="fade">
                        <sell-coins v-if="sellCoinsActive"></sell-coins>
                    </transition>
                    <transition name="fade">
                        <import-coins v-if="importCoinsActive"></import-coins>
                    </transition>
                    <transition name="fade">
                        <tools v-if="toolsActive"></tools>
                    </transition>
                </div>
            </div>
        </div>
        </div>
        <div v-else>
            <overview-table-fullscreen @exitFullscreen="exitFullscreen"></overview-table-fullscreen>
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                portfolioActive: true,
                addCoinsActive: false,
                tradeCoinsActive: false,
                sellCoinsActive: false,
                importCoinsActive: false,
                newsActive: false,
                toolsActive: false,
                overviewTableFullscreen: false,
                currentRoute: window.location.hash,
                subtitle: 'Portfolio',
                portfolioRoute: 'overview',
                isAdmin: false,
            }
        },
        created: function() {
            this.checkIfAdmin()
        },
        methods : {
            setPortfolioActive() {
                const vm = this;
                if (vm.portfolioActive == true)
                {
                    this.$refs.portfolioComponent.setOverviewActive();
                }
                this.portfolioActive = true;
                this.addCoinsActive = false;
                this.tradeCoinsActive = false;
                this.sellCoinsActive = false;
                this.importCoinsActive = false;
                this.toolsActive = false;
                this.newsActive = false;
                this.subtitle = 'Portfolio';
            },
            setTradeCoinsActive() {
                this.portfolioActive = false;
                this.tradeCoinsActive = true;
                this.addCoinsActive = false;
                this.sellCoinsActive = false;
                this.importCoinsActive = false;
                this.toolsActive = false;
                this.newsActive = false;
                this.subtitle = 'Trade Coins';
            },
            setAddCoinsActive() {
                this.portfolioActive = false;
                this.tradeCoinsActive = false;
                this.addCoinsActive = true;
                this.sellCoinsActive = false;
                this.importCoinsActive = false;
                this.toolsActive = false;
                this.newsActive = false;
                this.subtitle = 'Add Coins';
            },
            setNewsActive() {
                this.portfolioActive = false;
                this.tradeCoinsActive = false;
                this.addCoinsActive = false;
                this.sellCoinsActive = false;
                this.importCoinsActive = false;
                this.toolsActive = false;
                this.newsActive = true;
                this.subtitle = 'News';
            },
            setSellCoinsActive() {
                this.portfolioActive = false;
                this.tradeCoinsActive = false;
                this.addCoinsActive = false;
                this.sellCoinsActive = true;
                this.importCoinsActive = false;
                this.toolsActive = false;
                this.newsActive = false;
                this.subtitle = 'Sell Coins';
            },
            setImportCoinsActive() {
                this.portfolioActive = false;
                this.tradeCoinsActive = false;
                this.addCoinsActive = false;
                this.sellCoinsActive = false;
                this.importCoinsActive = true;
                this.toolsActive = false;
                this.newsActive = false;
                this.subtitle = 'Import Coins';
            },
            setToolsActive() {
                this.portfolioActive = false;
                this.tradeCoinsActive = false;
                this.addCoinsActive = false;
                this.sellCoinsActive = false;
                this.importCoinsActive = false;
                this.toolsActive = true;
                this.newsActive = false;
                this.subtitle = 'Tools';
            },
            checkIfAdmin() {
                const vm = this;
                axios.get('/dashboard/is-admin')
                    .then(response => {
                        vm.isAdmin = response.data
                    })
            },
            toggleFullscreen() {
                this.overviewTableFullscreen = !this.overviewTableFullscreen
            },
            exitFullscreen() {
                this.overviewTableFullscreen = false;
            }

        },
        mounted() {
            if (this.currentRoute == '#add-coins') {
                this.portfolioActive = false;
                this.tradeCoinsActive = false;
                this.addCoinsActive = true;
                this.toolsActive = false;
                this.importCoinsActive = false;
                this.sellCoinsActive = false;
                this.subtitle = 'Add Coins';
            } else if (this.currentRoute == '#trade-coins') {
                this.portfolioActive = false;
                this.tradeCoinsActive = true;
                this.addCoinsActive = false;
                this.toolsActive = false;
                this.importCoinsActive = false;
                this.sellCoinsActive = false;
                this.subtitle = 'Trade Coins';
            } else if (this.currentRoute == '#sell-coins') {
                this.portfolioActive = false;
                this.tradeCoinsActive = false;
                this.addCoinsActive = false;
                this.toolsActive = false;
                this.importCoinsActive = false;
                this.sellCoinsActive = true;
                this.subtitle = 'Sell Coins';
            } else if (this.currentRoute == '#import-coins') {
                this.portfolioActive = false;
                this.tradeCoinsActive = false;
                this.addCoinsActive = false;
                this.toolsActive = false;
                this.importCoinsActive = true;
                this.sellCoinsActive = false;
                this.subtitle = 'Import Coins';
            }
            else if (this.currentRoute == '#tools') {
                this.portfolioActive = false;
                this.tradeCoinsActive = false;
                this.addCoinsActive = false;
                this.importCoinsActive = false;
                this.toolsActive = true;
                this.sellCoinsActive = false;
                this.subtitle = 'Tools';
            }
        }
    }
</script>
