<template>
    <div id="my-coins">
    My Coins
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                homeActive: true,
                myCoinsActive: false,
            }
        },
        methods : {
            setHomeActive() {
                this.homeActive = true;
                this.myCoinsActive = false;
            },
            setMyCoinsActive() {
                this.homeActive = false;
                this.myCoinsActive = true;
            }
        },
        mounted() {
            // console.log('Component mounted.')
        }
    }
</script>
