
span.control-label {
  color: #7a7a7a;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 0 !important;
}

.table.is-hoverable {
  tr:hover {
    font-weight: bold;
  }
}
// TENTH COLUMNS
.column.is-one-tenth-desktop {
  flex: none;
  width: 10%;
}
@media only screen and (min-width: 1024px) {
  .column.is-one-eighth-desktop {
    flex: none;
    width: 12.5%;
  }
}
