
// Fonts

// Bulma Buefy

@import "variables";
@import "~bulmaswatch/superhero/variables";
@import "darkmode/variables";
@import "~bulma/bulma";
@import "~bulmaswatch/superhero/overrides";
@import "darkmode/overrides";
@import "~buefy/src/scss/buefy";
@import "~font-awesome/scss/font-awesome.scss";

// BulmaSwatch

// Custom

@import "overrides";
@import "spacing_helpers";


.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#app {
  flex: 1;
  min-height: 667px;
}

.footer {
  margin-top: 6rem;
  padding: 3rem 1.5rem;
}

.fade-enter-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.hero-body {
  padding: 2rem 1.5rem;
}

article.notification {
  position: fixed;
  top: 70px;
  right: 1%;
  z-index: 1;
}

.datepicker .datepicker-table .datepicker-body .datepicker-row .datepicker-cell.is-selectable {
  color: #d0d0d0;
}
.datepicker .datepicker-table .datepicker-header .datepicker-cell {
  color: #cccccc;
  font-weight: 600;
}

.tag {
  font-size: 1.2em;
}
.watchlist {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: auto;
  padding: .25rem .5rem;
  position: relative;
}