
// Fonts

// Bulma Buefy

@import "variables";
@import "~bulma/bulma";
@import "~bulma-extensions/bulma-badge/dist/css/bulma-badge";
@import "~buefy/src/scss/buefy";
@import "~font-awesome/scss/font-awesome.scss";

// BulmaSwatch

// Custom

@import "overrides";
@import "spacing_helpers";
@import "markdown";
@import "selectize_bulma";

.footer {
  margin-top: 6rem;
  padding: 3rem 1.5rem;
}

.fade-enter-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.hero-body {
  padding: 2rem 1.5rem;
}

article.notification {
  position: fixed;
  top: 70px;
  right: 1%;
  z-index: 1;
}

.tag {
  font-size: 1.2em;
}
.watchlist {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: auto;
  padding: .25rem .5rem;
  position: relative;
  background-color:whitesmoke;
}