<style>
    @keyframes is-pump-now {
        0%   {background-color: rgb(234, 255, 234);}
        100% {background-color: white;}
    }

    @keyframes is-dump-now {
        0%   {background-color: rgb(255, 234, 234);}
        100% {background-color: white;}
    }
    .is-pump {
        background-color: white;
        animation-name: is-pump-now;
        animation-duration: 2s;

    }
    .is-pump > td.price-usd {
        color: #00d1b2;
    }
    .is-dump {
        background-color: white;
        animation-name: is-dump-now;
        animation-duration: 2s;
    }
    .is-dump > td.price-usd {
        color: #ff3860;
    }

    #spinner-wrapper {
        margin-top: 4rem;
    }
</style>
<template>
    <section>
            <div id="spinner-wrapper" v-if="loading">
                <vue-simple-spinner message="Loading" line-fg-color="#00d1b2" size="large"></vue-simple-spinner>
            </div>
            <b-field grouped group-multiline v-else>
                <b-select v-model="perPage" :disabled="!isPaginated">
                    <option value="10">10 per page</option>
                    <option value="25">25 per page</option>
                    <option value="50">50 per page</option>
                    <option value="100">100 per page</option>
                </b-select>
                <div class="control is-flex">
                    <b-switch v-model="isPaginated">Paginated</b-switch>
                </div>
                <div class="control is-flex">
                    <b-switch v-model="isPaginationSimple" :disabled="!isPaginated">Simple pagination</b-switch>
                </div>
                <div style="margin-left:auto">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item m-r-15">
                                {{ filteredList.length }} / {{ coins.length }} Coins
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <b-field>
                                    <b-input placeholder="Search Coins" v-model="search"></b-input>
                                </b-field>
                            </div>
                        </div>
                    </div>
                </div>
            </b-field>

            <b-table ref="table"
                     :data="filteredList"
                    :paginated="isPaginated"
                    :per-page="perPage"
                    :pagination-simple="isPaginationSimple"
                    :default-sort-direction="defaultSortDirection"
                    :bordered="false"
                    :striped="true"
                    :narrowed="false"
                    :hoverable="true"
                    default-sort="coin.rank"
                     :row-class="(row, index) => row.rowClass">

                <template slot-scope="props">
                    <b-table-column field="rank" label="Rank" width="40" sortable numeric>
                        {{ props.row.rank }}
                    </b-table-column>

                    <b-table-column field="icon" label="Logo" centered>
                        <i class="bt" :class="'bt-'+props.row.icon"></i>
                    </b-table-column>

                    <b-table-column field="symbol" label="Symbol" sortable>
                        {{ props.row.symbol }}
                    </b-table-column>

                    <b-table-column field="name" label="Name" sortable>
                        <a :href="'https://coinmarketcap.com/currencies/' + props.row.cmc_id" class="has-text-info" target="_blank" rel="noopener">
                            {{ props.row.name }}
                        </a>
                    </b-table-column>

                    <b-table-column field="usd" label="USD" class="price-usd" sortable numeric>
                        <span v-if="props.row.usd > 1" :class="props.row.rowClass">{{ props.row.usd | currency('$') }}</span>
                        <span v-else :class="props.row.rowClass">{{ props.row.usd | currency('$', 4) }}</span>
                    </b-table-column>

                    <b-table-column field="btc" label="BTC" class="price-btc" sortable numeric>
                        {{ props.row.btc }}
                    </b-table-column>

                    <b-table-column field="volume_24h_usd" label="24h Volume" sortable numeric>
                        <span>${{ props.row.volume_24h_usd | reduceNumber }}</span>
                    </b-table-column>

                    <b-table-column field="market_cap" label="Market Cap" sortable numeric>
                        <span>${{ props.row.market_cap | reduceNumber }}</span>
                    </b-table-column>

                    <b-table-column field="percent_change_1h" label="1h Change" sortable numeric>
                        <span class="has-text-primary" v-if="props.row.percent_change_1h > 0">{{ props.row.percent_change_1h }}%</span>
                        <span class="has-text-danger" v-else>{{ props.row.percent_change_1h }}%</span>
                    </b-table-column>

                    <b-table-column field="percent_change_24h" label="1d Change" sortable numeric>
                        <span class="has-text-primary" v-if="props.row.percent_change_24h > 0">{{ props.row.percent_change_24h }}%</span>
                        <span class="has-text-danger" v-else>{{ props.row.percent_change_24h }}%</span>
                    </b-table-column>

                    <b-table-column field="percent_change_7d" label="1w Change" sortable numeric>
                        <span class="has-text-primary" v-if="props.row.percent_change_7d > 0">{{ props.row.percent_change_7d }}%</span>
                        <span class="has-text-danger" v-else>{{ props.row.percent_change_7d }}%</span>
                    </b-table-column>

                </template>
            </b-table>
    </section>
</template>
<script>
    import Spinner from 'vue-simple-spinner';
    export default {
        components: {
            Spinner
        },
        data: function () {
            return {
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'asc',
                perPage: 25,
                search: '',
                coins: [],
                loading: true,
                btc: 0,
            }
        },
        sockets: {
            connect() {
                // Fired when the socket connects.
                this.isConnected = true;
            },

            disconnect() {
                this.isConnected = false;
            },

            trades(tradeMsg) {
                const vm = this;
                if (tradeMsg.coin.toLowerCase() == 'btc')
                {
                    this.btc = tradeMsg.msg.price;
                }
                this.coins.filter(coin => {
                    if (coin.symbol.toLowerCase() == tradeMsg.coin.toLowerCase())
                    {
                        if (coin.usd < tradeMsg.msg.price)
                        {
                            coin.rowClass = 'is-pump';
                        } else if (coin.usd > tradeMsg.msg.price)
                        {
                            coin.rowClass = 'is-dump';
                        }
                        coin.btc = (tradeMsg.msg.price / this.btc).toFixed(8);
                        coin.usd = tradeMsg.msg.price;
                        coin.market_cap = tradeMsg.msg.mktcap;
                        coin.volume_24h_usd = tradeMsg.msg.volume;
                        coin.percent_change_24h = tradeMsg.msg.perc;

                    }
                })
            },
        },
        computed: {
            filteredList() {
                return this.coins.filter(coin => {
                    return coin.symbol.toLowerCase().includes(this.search.toLowerCase()) || coin.name.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        },
        created: function () {
            this.getCoins();
            this.timer = setInterval(this.getCoins, 60000);
        },
        methods: {
            getCoins() {
                const vm = this;
                axios.get('/coins/get')
                    .then(response => {
                        vm.coins = response.data;
                        vm.loading = false;
                        vm.btc = vm.coins[0].usd
                    })
                    .catch(error => {
                        console.log(error);
                    })
                    .then(() => this.$refs.table.initSort())
            }
        },
        mounted() {
        }
    }
</script>
