<template>
    <div>
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Coins
                    </h1>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="card m-b-30">
                    <div class="card-content">
                        <coins-table :user="auth"></coins-table>
                    </div>
                </div>
            </div>
        </div>
        <!--<socket-test></socket-test>-->
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                coins: []
            }
        },
        props: ['auth'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
