<style scoped>
    #spinner-wrapper {
        margin-top: 4rem;
    }
</style>
<template>
    <div>
        <div id="spinner-wrapper" v-if="loading">
            <vue-simple-spinner message="Loading" line-fg-color="#00d1b2" size="large"></vue-simple-spinner>
        </div>
    <div class="row m-t-10" v-else>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="buttons has-addons">
                        <a @click="setBreakdownActive" class="button" href="#breakdown" :class="{ 'is-active is-primary is-outlined' : breakdownActive }">Breakdown</a>
                        <a @click="setRevenueActive" class="button" href="#revenue" :class="{ 'is-active is-primary is-outlined' : revenueActive}">Revenue</a>
                        <a @click="setRoiActive" class="button" href="#roi" :class="{ 'is-active is-primary is-outlined' : roiActive}">ROI</a>
                        <a @click="setVolumeActive" class="button" href="#volume" :class="{ 'is-active is-primary is-outlined' : volumeActive}">Volume</a>
                    </div>
                </div>
                <div class="level-item">
                    <a class="button is-small" @click.prevent="getBreakdown"><i class="fa fa-refresh"></i>&nbsp;Refresh Colors</a>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" v-model="chartType" value="pie">
                            <!--<i class="fa fa-2x fa-pie-chart"></i>-->
                            Pie
                        </label>
                        <label class="radio">
                            <input type="radio" v-model="chartType" value="doughnut">
                            <!--<i class="fa fa-2x fa-circle-o-notch"></i>-->
                            Doughnut
                        </label>
                        <label class="radio">
                            <input type="radio" v-model="chartType" value="bar">
                            <!--<i class="fa fa-2x fa-bar-chart-o"></i>-->
                            Bar
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="columns">
                <transition name="fade">
                    <div v-if="breakdownActive" class="column has-text-centered" :class="columns" id="breakdown">
                        <div class="columns is-tablet">
                            <div class="column">
                                <div class="card">
                                    <div class="card-content">
                                        <b-table
                                                :data="cardData.breakdown"
                                                :paginated="isPaginated"
                                                :per-page="perPage"
                                                :current-page.sync="currentPage"
                                                :pagination-simple="isPaginationSimple"
                                                :default-sort-direction="defaultSortDirection"
                                                default-sort="amount">
                                            <template slot-scope="props">
                                                <b-table-column field="label" label="Coin" sortable>
                                                    <i class="bt" :class="'bt-'+props.row.label.toLowerCase()"></i>&nbsp;{{ props.row.label }}
                                                </b-table-column>

                                                <b-table-column field="amount" label="%" sortable>
                                                    {{ props.row.amount }}%
                                                </b-table-column>
                                            </template>
                                        </b-table>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-8">
                                <chart :type="chartType" :data="breakdown.breakdown" :options="breakdown.breakdown.options" ref="chart"></chart>
                            </div>
                        </div>
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="revenueActive" class="column has-text-centered" :class="columns" id="revenue">
                        <div class="columns is-tablet">
                            <div class="column">
                                <div class="card">
                                    <div class="card-content">
                                        <b-table
                                                :data="cardData.revenue"
                                                :paginated="isPaginated"
                                                :per-page="perPage"
                                                :current-page.sync="currentPage"
                                                :pagination-simple="isPaginationSimple"
                                                :default-sort-direction="defaultSortDirection"
                                                default-sort="amount">
                                            <template slot-scope="props">
                                                <b-table-column field="label" label="Coin" sortable>
                                                    <i class="bt" :class="'bt-'+props.row.label.toLowerCase()"></i>&nbsp;{{ props.row.label }}
                                                </b-table-column>

                                                <b-table-column field="amount" label="Revenue" sortable>
                                                    {{ props.row.amount | currency}}
                                                </b-table-column>
                                            </template>
                                        </b-table>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-8">
                                <chart :type="chartType" :data="breakdown.revenue" :options="breakdown.revenue.options" ref="chart"></chart>
                            </div>
                        </div>
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="roiActive" class="column has-text-centered" :class="columns" id="roi">
                        <div class="columns is-tablet">
                            <div class="column">
                                <div class="card">
                                    <div class="card-content">
                                        <b-table
                                                :data="cardData.roi"
                                                :paginated="isPaginated"
                                                :per-page="perPage"
                                                :current-page.sync="currentPage"
                                                :pagination-simple="isPaginationSimple"
                                                :default-sort-direction="defaultSortDirection"
                                                default-sort="amount">
                                            <template slot-scope="props">
                                                <b-table-column field="label" label="Coin" sortable>
                                                    <i class="bt" :class="'bt-'+props.row.label.toLowerCase()"></i>&nbsp;{{ props.row.label }}
                                                </b-table-column>

                                                <b-table-column field="amount" label="ROI" sortable>
                                                    {{ props.row.amount }}%
                                                </b-table-column>
                                            </template>
                                        </b-table>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-8">
                                <chart :type="chartType" :data="breakdown.roi" :options="breakdown.roi.options" ref="chart"></chart>
                            </div>
                    </div>
                </div>
                </transition>
                <transition name="fade">
                <div v-if="volumeActive" class="column has-text-centered" :class="columns" id="volume">
                    <div class="columns is-tablet">
                        <div class="column">
                            <div class="card">
                                <div class="card-content">
                                    <b-table
                                            :data="cardData.volume"
                                            :paginated="isPaginated"
                                            :per-page="perPage"
                                            :current-page.sync="currentPage"
                                            :pagination-simple="isPaginationSimple"
                                            :default-sort-direction="defaultSortDirection"
                                            default-sort="amount">
                                        <template slot-scope="props">
                                            <b-table-column field="label" label="Coin" sortable>
                                                <i class="bt" :class="'bt-'+props.row.label.toLowerCase()"></i>&nbsp;{{ props.row.label }}
                                            </b-table-column>

                                            <b-table-column field="amount" label="Volume" sortable>
                                                {{ props.row.amount }}
                                            </b-table-column>
                                        </template>
                                    </b-table>
                                </div>
                            </div>
                        </div>
                        <div class="column is-8">
                            <chart :type="chartType" :data="breakdown.volume" :options="breakdown.volume.options" ref="chart"></chart>
                        </div>
                    </div>
                </div>
                </transition>
            </div>
        </div>
    </section>
    </div>
</template>

<script>
    import Chart from 'vue-bulma-chartjs';
    import Spinner from 'vue-simple-spinner';
    export default {
        components: {
            Chart,
            Spinner
        },
        data () {
            return {
                chartType: 'pie',
                columns: 'is-12-desktop',
                breakdownActive: true,
                volumeActive: false,
                revenueActive: false,
                roiActive: false,
                breakdown: {
                    volume: {
                        labels: [],
                        datasets: [{
                            data: [],
                            backgroundColor: []
                        }]
                    },
                    revenue: {
                        labels: [],
                        datasets: [{
                            data: [],
                            backgroundColor: []
                        }]
                    },
                    roi: {
                        labels: [],
                        datasets: [{
                            data: [],
                            backgroundColor: []
                        }]
                    },
                    breakdown: {
                        labels: [],
                        datasets: [{
                            data: [],
                            backgroundColor: []
                        }]
                    },
                },
                options: {
                    segmentShowStroke: false
                },
                cardData: [],
                loading: true,
                isPaginated: true,
                isPaginationSimple: true,
                defaultSortDirection: 'desc',
                currentPage: 1,
                perPage: 10
            }
        },
        created: function() {
          this.getBreakdown();
        },
        computed: {
          // Return roi > 0 for chart
            chartRoi() {
                return this.breakdown.roi.filter(roi => {
                    return roi.datasets[0].data > 0
                })
            }
        },
        watch: {
            // whenever question changes, this function will run
            chartType: function (newChartType) {
                const vm = this;
                if (newChartType == 'bar') {
                    vm.columns = '';
                } else {
                    vm.columns = 'is-10-desktop is-offset-1-desktop';
                }
            }
        },
        methods: {
            getBreakdown() {
                const vm = this;
                axios.get('/dashboard/breakdown')
                    .then(response => {
                        vm.breakdown.volume.labels = response.data.volume.labels;
                        vm.breakdown.volume.datasets[0].data = response.data.volume.amounts;
                        vm.breakdown.volume.datasets[0].backgroundColor = response.data.volume.colors;
                        vm.breakdown.revenue.labels = response.data.revenue.labels;
                        vm.breakdown.revenue.datasets[0].data = response.data.revenue.amounts;
                        vm.breakdown.revenue.datasets[0].backgroundColor = response.data.revenue.colors;
                        vm.breakdown.roi.labels = response.data.roi.labels;
                        vm.breakdown.roi.datasets[0].data = response.data.roi.amounts;
                        vm.breakdown.roi.datasets[0].backgroundColor = response.data.roi.colors;
                        vm.breakdown.breakdown.labels = response.data.breakdown.labels;
                        vm.breakdown.breakdown.datasets[0].data = response.data.breakdown.amounts;
                        vm.breakdown.breakdown.datasets[0].backgroundColor = response.data.breakdown.colors;
                        vm.cardData = response.data.cardData;
                        vm.loading = false;
                        if(this.$refs.chart) {
                            this.$refs.chart.resetChart();
                        }
                    })
            },
            setBreakdownActive() {
                this.breakdownActive = true;
                this.volumeActive = false;
                this.revenueActive = false;
                this.roiActive = false;
            },
            setVolumeActive() {
                this.breakdownActive = false;
                this.volumeActive = true;
                this.revenueActive = false;
                this.roiActive = false;
            },
            setRevenueActive() {
                this.breakdownActive = false;
                this.volumeActive = false;
                this.revenueActive = true;
                this.roiActive = false;
            },
            setRoiActive() {
                this.breakdownActive = false;
                this.volumeActive = false;
                this.revenueActive = false;
                this.roiActive = true;
            },
        }
    }
</script>
