<template>
    <div>
        <div class="row m-b-20">
            <div class="card">
                <div class="card-content p-t-10">
                    <div class="row p-b-0">
                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <a class="is-link" @click.prevent="goToPortfolio"><i class="fa fa-angle-left"
                                                                                         aria-hidden="true"></i>&nbsp;Back</a>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <a :href="'https://coinmarketcap.com/currencies/' + coin.coin.cmc_id"
                                       target="_blank" class="is-link">CMC</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="m-t-10">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-36x36">
                                <i class="bt " :class="'bt-'+coin.coin.icon.toLowerCase()" style="font-size:2rem"></i>
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="is-pulled-left">
                                <p class="title is-4">{{ coin.coin.name }}</p>
                                <p class="subtitle is-6">{{ coin.coin.symbol }}</p>
                            </div>
                            <div class="is-pulled-right">
                                <span class="has-text-weight-bold is-size-5" v-if="coin.coin.usd < 1">{{ coin.coin.usd | currency('$', 4) }}</span>
                                <span class="has-text-weight-bold is-size-5" v-else>{{ coin.coin.usd | currency }}</span>
                                <p class="subtitle is-6 has-text-right"><span
                                        class="tag">{{ coin.amount }}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="columns" style="padding: 1rem 0">
                        <div class="column is-3 has-text-centered">
                            <p class="is-size-4 has-text-weight-bold">{{ coinDetail.investment | currency }}</p>
                            <p class="is-uppercase menu-label is-size-6">invested</p>
                        </div>
                        <div class="column is-3 has-text-centered">
                            <p class="is-size-4 has-text-weight-bold" v-if="coinDetail.average < 1">{{ coinDetail.average | currency('$', 4) }}</p>
                            <p class="is-size-4 has-text-weight-bold" v-else>{{ coinDetail.average | currency }}</p>
                            <p class="is-uppercase menu-label is-size-6">Average Cost</p>
                        </div>
                        <div class="column is-3 has-text-centered">
                            <p class="is-size-4 has-text-weight-bold">{{ coinDetail.profit | currency }}</p>
                            <p class="is-uppercase menu-label is-size-6">Profit</p>
                        </div>
                        <div class="column is-3 has-text-centered">
                            <p class="is-size-4 has-text-weight-bold">{{ coinDetail.roi }}%</p>
                            <p class="is-uppercase menu-label is-size-6">ROI</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="padding-bottom: 1rem">
                        <h5 class="title is-size-5">Transactions</h5>
                    </div>
                    <div class="row">
                                <b-field grouped group-multiline>
                                    <b-select v-model="perPage" :disabled="!isPaginated">
                                        <option value="10">10 per page</option>
                                        <option value="25">25 per page</option>
                                        <option value="50">50 per page</option>
                                        <option value="100">100 per page</option>
                                    </b-select>
                                    <div class="field is-grouped" style="margin-right:auto">
                                        <b-radio v-model="filterType"
                                                 native-value="all">
                                            All
                                        </b-radio>
                                        <b-radio v-model="filterType"
                                                 native-value="buy">
                                            Buy
                                        </b-radio>
                                        <b-radio v-model="filterType"
                                                 native-value="trade">
                                            Trade
                                        </b-radio>
                                        <b-radio v-model="filterType"
                                                 native-value="sale">
                                            Sale
                                        </b-radio>
                                    </div>
                                    <div style="margin-left:auto" v-if="filteredList">
                                        {{ filteredList.length }} / {{ coinDetail.transactions.length }} Transactions
                                    </div>
                                </b-field>
                    </div>
                    <div class="row">
                        <b-table ref="table"
                                :data="filteredList"
                                 :paginated="isPaginated"
                                 :per-page="perPage"
                                 :pagination-simple="isPaginationSimple"
                                 :default-sort="defaultSort"
                                 :default-sort-direction="defaultSortDirection"
                                :bordered="false"
                                :striped="true"
                                :narrowed="false"
                                :hoverable="true">

                            <template slot-scope="props">

                                    <b-table-column field="date" label="Date" sortable>
                                        {{ props.row.date | formatDateTime }}
                                    </b-table-column>

                                    <b-table-column field="type" label="Type" sortable>
                                        <span class="tag is-primary" v-if="props.row.type == 'buy'">Buy</span>
                                        <span class="tag is-info" v-else-if="props.row.type == 'trade'">Trade</span>
                                        <span class="tag is-danger" v-else>Sale</span>
                                    </b-table-column>

                                    <b-table-column field="from" label="From" sortable>
                                        <i class="fa fa-usd" v-if="props.row.from == 'USD'"></i>
                                        <i class="bt" :class="'bt-'+props.row.from.toLowerCase()" v-else></i>
                                        <span class="has-text-weight-bold is-size-5" v-else>{{ coin.coin.usd | currency }}</span>
                                        {{ props.row.from }}&nbsp;<small>
                                        (<span v-if="props.row.from_price < 1">{{ props.row.from_price | currency('$', 4) }}</span>
                                        <span v-else>{{ props.row.from_price | currency }}</span>)</small>
                                    </b-table-column>

                                    <b-table-column field="to" label="To" sortable>
                                        <i class="fa fa-usd" v-if="props.row.to == 'USD'"></i>
                                        <i class="bt" :class="'bt-'+props.row.to.toLowerCase()" v-else></i>
                                        {{ props.row.to }}&nbsp;<small>
                                        (<span v-if="props.row.to_price < 1">{{ props.row.to_price | currency('$', 4) }}</span>
                                        <span v-else>{{ props.row.to_price | currency }}</span>)</small>
                                    </b-table-column>

                                    <b-table-column field="from_amount" label="From Amt" sortable numeric>
                                        <span v-if="props.row.from == 'USD'">{{ props.row.from_amount | currency}}</span>
                                        <span v-else>{{ props.row.from_amount }}</span>
                                    </b-table-column>

                                    <b-table-column field="to_amount" label="To Amt" sortable numeric>
                                        <span v-if="props.row.to == 'USD'">{{ props.row.to_amount | currency}}</span>
                                        <span v-else>{{ props.row.to_amount }}</span>
                                    </b-table-column>

                                    <b-table-column field="value" label="Value (USD)" sortable numeric>
                                        {{ props.row.value | currency }}
                                    </b-table-column>
                            </template>
                        </b-table>
                    </div>
                    <div class="row">
                        <coin-chart :coin="coin.coin.symbol" pricein="BTC"></coin-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                coinDetail: [],
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'asc',
                defaultSort: 'date',
                filterType: 'all',
                perPage: 10,
            }
        },
        props: ['coin'],
        created: function () {
            this.getCoinDetail();
            window.scrollTo(0,180);
        },
        computed: {
            filteredList() {
                if (this.filterType == 'all')
                {
                    return this.coinDetail.transactions
                } else
                {
                    return this.coinDetail.transactions.filter(transaction => {
                        return transaction.type.toLowerCase().includes(this.filterType)
                    })
                }
            }
        },
        methods: {
            getCoinDetail() {
                const vm = this;
                const url = '/dashboard/detail/' + vm.coin.coin.symbol;
                axios.get(url)
                    .then(response => {
                        vm.coinDetail = response.data;
                    })
            },
            goToPortfolio() {
                this.$parent.setOverviewActive();
            }
        },
        mounted() {
        }
    }
</script>
