<style>
    #spinner-wrapper{
        height: 400px;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
    }
    #spinner {
        display: flex;
        margin: 0 auto;
    }
</style>
<template>
    <div>
        <div id="spinner-wrapper" v-if="loading">
            <vue-simple-spinner message="Loading" line-fg-color="#00d1b2" size="medium"></vue-simple-spinner>
        </div>
        <div v-else>
            <div class="row">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h5 class="title is-size-5">Candlestick Chart</h5>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <div class="field" v-if="displaySwitch">
                                <b-switch v-model="usdSwitch">
                                    {{ pricein }}
                                </b-switch>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <highstock :options="options"></highstock>
        </div>
    </div>
</template>

<script>
    var Highcharts = require('highcharts/highstock');
    import Spinner from 'vue-simple-spinner';
    export default {
        components: {
            Spinner
        },
        data: function () {
            return {
                options: {},
                ohlc: [],
                volume: [],
                groupingUnits: [],
                dataLength: 0,
                loading: true,
                usdSwitch: false,
                pricein: 'BTC',
            }
        },
        props: ['coin'],
        created: function () {
            this.getGraphData();
        },
        computed: {
          displaySwitch: function () {
              return this.coin !== 'BTC' && this.coin !== 'ETH';
          }
        },
        methods: {
            getGraphData()
            {
                const vm = this;
                if (this.coin == 'BTC' || this.coin == 'ETH')
                {
                    this.pricein = 'USD';
                }
                const url = '/cryptocompare/'+this.coin+'/'+this.pricein;
                axios.get(url)
                    .then(response => {

                        vm.loading = false;
                        vm.ohlc = response.data.ohlc;
                        vm.dataLength = response.data.length;
                        vm.volume = response.data.volume;
                        vm.groupingUnits = response.data.groupingUnits;
                        this.options = { rangeSelector: {
                                selected: 1
                            },

                            title: {
                                text: this.coin+'/'+this.pricein
                            },
                            colors: ['#00d1b2', '#0d233a', '#8bbc21', '#910000', '#1aadce',
                                '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'],
                            plotOptions: {
                                candlestick: {
                                    color: '#ff3860',
                                    upColor: '#00d1b2'
                                },
                                series: {
                                    dataGrouping: {
                                        groupPixelWidth: 32,
                                        forced: true,
                                        units: [[
                                            'minute',
                                            [1, 5, 15, 30]
                                        ], [
                                            'hour',
                                            [1, 4, 12]
                                        ], [
                                            'day',
                                            [1]
                                        ], [
                                            'week',
                                            [1]
                                        ], [
                                            'month',
                                            [1, 3, 6]
                                        ], [
                                            'year',
                                            null
                                        ]]
                                    }
                                }
                            },
                            rangeSelector: {
                            selected: 2,
                                buttons: [{
                                    type: 'minute',
                                    count: 60,
                                    text: '1h'
                                }, {
                                    type: 'hour',
                                    count: 4,
                                    text: '4h'
                                }, {
                                    type: 'day',
                                    count: 1,
                                    text: '1d'
                                }, {
                                    type: 'week',
                                    count: 1,
                                    text: '7d'
                                }, {
                                    type: 'month',
                                    count: 1,
                                    text: '1m'
                                }, {
                                    type: 'month',
                                    count: 3,
                                    text: '3m'
                                }, {
                                    type: 'all',
                                    text: 'All'
                                }]
                            },

                            yAxis: [{
                                labels: {
                                    align: 'right',
                                    x: -3
                                },
                                title: {
                                    text: 'OHLC'
                                },
                                height: '60%',
                                lineWidth: 2,
                                resize: {
                                    enabled: true
                                }
                            }, {
                                labels: {
                                    align: 'right',
                                    x: -3
                                },
                                title: {
                                    text: 'Volume'
                                },
                                top: '65%',
                                height: '35%',
                                offset: 0,
                                lineWidth: 2
                            }],

                            tooltip: {
                                split: true
                            },

                            series: [{
                                type: 'candlestick',
                                name: this.coin+'/'+this.pricein,
                                data: this.ohlc,
                                dataGrouping: {
                                    units: [[
                                        'minute',
                                        [1, 5, 15, 30]
                                    ], [
                                        'hour',
                                        [1, 4, 12]
                                    ], [
                                        'day',
                                        [1]
                                    ], [
                                        'week',
                                        [1]
                                    ], [
                                        'month',
                                        [1, 3, 6]
                                    ], [
                                        'year',
                                        null
                                    ]]
                                }
                            }, {
                                type: 'column',
                                name: 'Volume',
                                data: this.volume,
                                yAxis: 1,
                                dataGrouping: {
                                    units: [[
                                        'minute',
                                        [1, 5, 15, 30]
                                    ], [
                                        'hour',
                                        [1, 4, 12]
                                    ], [
                                        'day',
                                        [1]
                                    ], [
                                        'week',
                                        [1]
                                    ], [
                                        'month',
                                        [1, 3, 6]
                                    ], [
                                        'year',
                                        null
                                    ]]
                                }
                            }]};
                    });
            }
        },
        mounted() {

        }
    }
</script>
