<template>
    <div>
    <div class="row m-t-10">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="buttons has-addons">
                        <a @click="setRevenueActive" class="button" href="#revenue" :class="{ 'is-active is-primary is-outlined' : revenueActive}">Revenue</a>
                        <a @click="setRoiActive" class="button" href="#roi" :class="{ 'is-active is-primary is-outlined' : roiActive}">ROI</a>
                        <a @click="setVolumeActive" class="button" href="#volume" :class="{ 'is-active is-primary is-outlined' : volumeActive}">Volume</a>
                    </div>
                </div>
                <div class="level-item">
                    <a class="button is-small" @click.prevent="getBreakdown"><i class="fa fa-refresh"></i>&nbsp;Refresh Colors</a>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" v-model="chartType" value="pie">
                            <!--<i class="fa fa-2x fa-pie-chart"></i>-->
                            Pie
                        </label>
                        <label class="radio">
                            <input type="radio" v-model="chartType" value="doughnut">
                            <!--<i class="fa fa-2x fa-circle-o-notch"></i>-->
                            Doughnut
                        </label>
                        <label class="radio">
                            <input type="radio" v-model="chartType" value="bar">
                            <!--<i class="fa fa-2x fa-bar-chart-o"></i>-->
                            Bar
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="columns">
                <transition name="fade">
                    <div v-if="loaded && revenueActive" class="column has-text-centered" :class="columns" id="revenue">
                        <h2 class="is-size-4">Revenue</h2>
                        <chart :type="chartType" :data="breakdown.revenue" :options="breakdown.revenue.options" ref="chart"></chart>
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="loaded && roiActive" class="column has-text-centered" :class="columns" id="roi">
                        <h2 class="is-size-4">ROI</h2>
                        <chart :type="chartType" :data="breakdown.roi" :options="options" ref="chart"></chart>
                    </div>
                </transition>
                <transition name="fade">
                <div v-if="loaded && volumeActive" class="column has-text-centered" :class="columns" id="volume">
                    <h2 class="is-size-4">Volume</h2>
                    <chart :type="chartType" :data="breakdown.volume" :options="options" ref="chart"></chart>
                </div>
                </transition>
            </div>
        </div>
    </section>
    </div>
</template>

<script>
    import Chart from 'vue-bulma-chartjs';

    export default {
        components: {
            Chart
        },
        data () {
            return {
                chartType: 'pie',
                columns: 'is-6-desktop is-offset-3-desktop',
                volumeActive: false,
                revenueActive: true,
                roiActive: false,
                breakdown: {
                    volume: {
                        labels: [],
                        datasets: [{
                            data: [],
                            backgroundColor: []
                        }]
                    },
                    revenue: {
                        labels: [],
                        datasets: [{
                            data: [],
                            backgroundColor: []
                        }]
                    },
                    roi: {
                        labels: [],
                        datasets: [{
                            data: [],
                            backgroundColor: []
                        }]
                    },
                },
                options: {
                    segmentShowStroke: false
                },
                loaded: false,
            }
        },
        created: function() {
          this.getBreakdown();
        },
        watch: {
            // whenever question changes, this function will run
            chartType: function (newChartType) {
                const vm = this;
                if (newChartType == 'bar') {
                    vm.columns = 'is-10-desktop is-offset-1-desktop';
                } else {
                    vm.columns = 'is-6-desktop is-offset-3-desktop';
                }
            }
        },
        methods: {
            getBreakdown() {
                const vm = this;
                axios.get('/dashboard/breakdown')
                    .then(response => {
                        vm.breakdown.volume.labels = response.data.volume.labels;
                        vm.breakdown.volume.datasets[0].data = response.data.volume.amounts;
                        vm.breakdown.volume.datasets[0].backgroundColor = response.data.volume.colors;
                        vm.breakdown.revenue.labels = response.data.revenue.labels;
                        vm.breakdown.revenue.datasets[0].data = response.data.revenue.amounts;
                        vm.breakdown.revenue.datasets[0].backgroundColor = response.data.revenue.colors;
                        vm.breakdown.roi.labels = response.data.roi.labels;
                        vm.breakdown.roi.datasets[0].data = response.data.roi.amounts;
                        vm.breakdown.roi.datasets[0].backgroundColor = response.data.roi.colors;
                        vm.loaded = true;
                        if(this.$refs.chart) {
                            this.$refs.chart.resetChart();
                        }
                    })
            },
            setVolumeActive() {
                this.volumeActive = true;
                this.revenueActive = false;
                this.roiActive = false;
            },
            setRevenueActive() {
                this.volumeActive = false;
                this.revenueActive = true;
                this.roiActive = false;
            },
            setRoiActive() {
                this.volumeActive = false;
                this.revenueActive = false;
                this.roiActive = true;
            },
        }
    }
</script>
