<template>
    <section>
        <div class="row m-b-20">
            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column has-text-centered">
                            <p class="is-size-4 has-text-weight-bold">{{ sales.length }}</p>
                            <p class="is-uppercase menu-label is-size-6">Sales</p>
                        </div>
                        <div class="column has-text-centered">
                            <p class="is-size-4 has-text-weight-bold">{{ totalProfit | currency }}</p>
                            <p class="is-uppercase menu-label is-size-6">Total Profit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-field grouped group-multiline>
            <b-select v-model="perPage" :disabled="!isPaginated">
                <option value="10">10 per page</option>
                <option value="25">25 per page</option>
                <option value="50">50 per page</option>
                <option value="100">100 per page</option>
            </b-select>
            <div class="control is-flex">
                <b-switch v-model="isPaginated">Paginated</b-switch>
            </div>
            <div style="margin-left:auto">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item m-r-15">
                            {{ filteredList.length }} / {{ sales.length }} Sales
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <b-field>
                                <b-input placeholder="Search Coins" v-model="search"></b-input>
                            </b-field>
                        </div>
                    </div>
                </div>
            </div>
        </b-field>
        <b-table ref="table"
                 :data="filteredList"
                 :paginated="isPaginated"
                 :per-page="perPage"
                 :pagination-simple="isPaginationSimple"
                 :default-sort-direction="defaultSortDirection"
                 :bordered="false"
                 :striped="true"
                 :narrowed="true"
                 :hoverable="true"
                 default-sort="sale.date">

            <template slot-scope="props">
                <b-table-column field="date" label="Date" sortable>
                    {{ props.row.date | formatDateTime }}
                </b-table-column>

                <b-table-column field="coin_symbol" label="Sold" sortable>
                    <i class="bt" :class="'bt-'+props.row.coin.icon.toLowerCase()"></i>&nbsp;{{ props.row.coin_symbol }}
                </b-table-column>

                <b-table-column field="amount" label="Amount" sortable numeric>
                    {{ props.row.amount }}
                </b-table-column>

                <b-table-column field="usd" label="At" sortable numeric>
                    {{ props.row.usd | currency}}
                </b-table-column>

                <b-table-column field="total_sale" label="Total" sortable numeric>
                    {{ props.row.amount * props.row.usd | currency}}
                </b-table-column>

                <b-table-column field="avg_cost" label="Avg Cost" sortable numeric>
                    {{ props.row.avg_cost | currency }}
                </b-table-column>

                <b-table-column field="profit" label="Profit" sortable numeric>
                    <span class="has-text-primary" v-if="props.row.profit >= 0">{{ props.row.profit | currency }}</span>
                    <span class="has-text-danger" v-else>{{ props.row.profit | currency }}</span>
                </b-table-column>

            </template>
        </b-table>
    </section>
</template>

<script>
    export default {
        data: function(){
            return {
                sales: [],
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'asc',
                perPage: 10,
                search: '',
                totalProfit: 0,
            }
        },
        created: function() {
            this.getSales();
        },
        computed: {
            filteredList() {
                return this.sales.filter(sale => {
                    return sale.coin_symbol.toLowerCase().includes(this.search.toLowerCase())
                })
            },
        },
        methods : {
            getSales() {
                const vm = this;
                axios.get('/dashboard/sales/all')
                    .then(response => {
                        vm.sales = response.data.sales;
                        vm.totalProfit = response.data.total_profit;
                    })
                    .catch(error => {
                        console.log(error);
                    })
                    .then(() => this.$refs.table.initSort())
            }
        },
        mounted() {

        }
    }
</script>
