<template>
    <section>
        <div class="row m-b-20">
            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column has-text-centered">
                            <p class="is-size-4 has-text-weight-bold">{{ trades.length }}</p>
                            <p class="is-uppercase menu-label is-size-6">Trades</p>
                        </div>
                        <div class="column has-text-centered">
                            <p class="is-size-4 has-text-weight-bold">{{ totalNet | currency }}</p>
                            <p class="is-uppercase menu-label is-size-6">Total Net</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-field grouped group-multiline>
            <b-select v-model="perPage" :disabled="!isPaginated">
                <option value="10">10 per page</option>
                <option value="25">25 per page</option>
                <option value="50">50 per page</option>
                <option value="100">100 per page</option>
            </b-select>
            <div class="control is-flex">
                <b-switch v-model="isPaginated">Paginated</b-switch>
            </div>
            <div style="margin-left:auto">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item m-r-15">
                            {{ filteredList.length }} / {{ trades.length }} Trades
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <div class="field is-horizontal has-addons">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select v-model="filterTradedOrReceived">
                                            <option value="traded_coin">Traded</option>
                                            <option value="received_coin">Received</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control">
                                    <b-field>
                                        <b-input placeholder="Search Coins" v-model="search"></b-input>
                                    </b-field>
                                </div>
                            </div>
                        </div>
                        <div class="level-item">

                        </div>
                    </div>
                </div>
            </div>
        </b-field>
        <b-table ref="table"
                 :data="filteredList"
                 :paginated="isPaginated"
                 :per-page="perPage"
                 :pagination-simple="isPaginationSimple"
                 :default-sort-direction="defaultSortDirection"
                 :bordered="false"
                 :striped="true"
                 :narrowed="true"
                 :hoverable="true"
                 default-sort="trade.date">

            <template slot-scope="props" slot="header">
                <b-tooltip :active="!!props.column.meta" :label="props.column.meta" dashed>
                    {{ props.column.label }}
                </b-tooltip>
            </template>

            <template slot-scope="props">
                <b-table-column field="date" label="Date" sortable>
                    {{ props.row.date | formatDateTime }}
                </b-table-column>

                <b-table-column field="traded_coin" label="From" sortable centered>
                    <i class="bt" :class="'bt-'+props.row.traded_coin.icon.toLowerCase()"></i>&nbsp;{{ props.row.traded_coin.symbol }}
                </b-table-column>

                <b-table-column field="traded_amount" label="Traded" sortable numeric>
                    {{ props.row.traded_amount }}
                </b-table-column>

                <b-table-column field="received_coin" label="To" sortable centered>
                    <i class="bt" :class="'bt-'+props.row.received_coin.icon.toLowerCase()"></i>&nbsp;{{ props.row.received_coin.symbol }}
                </b-table-column>

                <b-table-column field="received_amount" label="Received" sortable numeric>
                    {{ props.row.received_amount }}
                </b-table-column>

                <b-table-column field="transactions.usd" label="Trade Value" meta="USD value of trade" sortable numeric>
                    {{ props.row.transactions[1].usd * props.row.received_amount | currency}}
                </b-table-column>

                <b-table-column field="net_at_trade_usd" label="Net @ Trade" meta="Profit/loss on coin before trade" sortable numeric>
                    <span class="has-text-primary" v-if="props.row.net_at_trade_usd >= 0">{{ props.row.net_at_trade_usd | currency }}</span>
                    <span class="has-text-danger" v-else>{{ props.row.net_at_trade_usd | currency }}</span>
                </b-table-column>

            </template>
            <template slot="footer">
                <div class="has-text-right">
                    <p><span class="has-text-weight-bold">Sum:&nbsp;</span> {{ sumNetFiltered | currency}}</p>
                </div>
            </template>
        </b-table>
    </section>
</template>

<script>
    export default {
        data: function(){
            return {
                trades: [],
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'asc',
                perPage: 10,
                search: '',
                totalNet: 0,
                filterTradedOrReceived: 'traded_coin',
            }
        },
        created: function() {
            this.getTrades();
        },
        computed: {
            filteredList() {
                if (this.filterTradedOrReceived == 'traded_coin') {
                    return this.trades.filter(trade => {
                      return trade.traded_coin.symbol.toLowerCase().includes(this.search.toLowerCase())
                    })
                } else {
                    return this.trades.filter(trade => {
                        return trade.received_coin.symbol.toLowerCase().includes(this.search.toLowerCase())
                    })
                }

            },
            sumNetFiltered() {
                return this.filteredList.reduce(function(prev, trade) {
                   return prev + trade.net_at_trade_usd}, 0)
            }
        },
        methods : {
            getTrades() {
                const vm = this;
                axios.get('/dashboard/get-trades')
                    .then(response => {
                        vm.trades = response.data.trades;
                        vm.totalNet = response.data.total_net;
                    })
                    .catch(error => {
                        console.log(error);
                    })
                    .then(() => this.$refs.table.initSort())
            }
        },
        mounted() {

        }
    }
</script>
