<template>
    <transition name="fade">
        <div class="p-l-5 p-r-5">
            <div class="row m-t-10">
                <div class="pull-right">
                    <a class="button is-primary m-b-10" @click.prevent="goToDashboard">Back to Dashboard</a>
                </div>
            </div>
        <b-table
                :data="holdings"
                :paginated="isPaginated"
                default-sort-direction="desc"
                default-sort="roi"
                striped>

            <template slot-scope="props">

                <b-table-column field="coin.symbol" label="Symbol" sortable>
                    <i class="bt" :class="'bt-'+props.row.coin.icon.toLowerCase()"></i>&nbsp;{{ props.row.coin.symbol }}
                </b-table-column>

                <b-table-column field="coin.usd" label="Current" sortable numeric>
                    <span class="has-text-weight-bold">{{ props.row.coin.usd | currency }}</span>
                </b-table-column>

                <b-table-column field="amount" label="Amount" sortable numeric>
                    {{ props.row.amount }}
                </b-table-column>

                <b-table-column field="usd" label="Avg Cost" sortable numeric>
                    {{ props.row.usd | currency }}
                </b-table-column>

                <b-table-column field="total_revenue" label="Total" sortable numeric>
                    {{ props.row.total_revenue | currency }}
                </b-table-column>

                <b-table-column field="investment" label="Investment" sortable numeric>
                    {{ props.row.investment | currency }}
                </b-table-column>

                <b-table-column field="profit" label="Profit" sortable numeric>
                    <span class="has-text-primary" v-if="props.row.profit > 0">{{ props.row.profit | currency }}</span>
                    <span class="has-text-danger" v-else>{{ props.row.profit | currency }}</span>
                </b-table-column>

                <b-table-column field="roi" label="ROI" sortable numeric>
                    <span class="has-text-primary" v-if="props.row.roi > 0">{{ props.row.roi }}%</span>
                    <span class="has-text-danger" v-else>{{ props.row.roi }}%</span>
                </b-table-column>

                <b-table-column field="coin.percent_change_1h" label="1H" sortable numeric>
                    <span class="has-text-primary" v-if="props.row.coin.percent_change_1h > 0">{{ props.row.coin.percent_change_1h }}%</span>
                    <span class="has-text-danger" v-else>{{ props.row.coin.percent_change_1h }}%</span>
                </b-table-column>

                <b-table-column field="coin.percent_change_24h" label="24H" sortable numeric>
                    <span class="has-text-primary" v-if="props.row.coin.percent_change_24h > 0">{{ props.row.coin.percent_change_24h }}%</span>
                    <span class="has-text-danger" v-else>{{ props.row.coin.percent_change_24h }}%</span>
                </b-table-column>

                <b-table-column field="coin.percent_change_7d" label="7D" sortable numeric>
                    <span class="has-text-primary" v-if="props.row.coin.percent_change_7d > 0">{{ props.row.coin.percent_change_7d }}%</span>
                    <span class="has-text-danger" v-else>{{ props.row.coin.percent_change_7d }}%</span>
                </b-table-column>

            </template>
        </b-table>
        </div>
    </transition>
</template>

<script>
    export default {
        data: function () {
            return {
                defaultSortDirection: 'asc',
                isPaginated: false,
                holdings: [],
            }
        },
        created: function() {
            this.getHoldings();
            this.timer = setInterval(this.getHoldings, 30000);
        },
        methods: {
            getHoldings() {
                const vm = this;
                axios.get('/dashboard/holdings/by-coin')
                    .then(response => {
                        vm.holdings = response.data;
                    })
            },
            goToDashboard() {
                this.$emit("exitFullscreen")
            }
        },
        mounted() {
        }
    }
</script>
