<template>
    <transition name="fade">
        <b-table
                :data="holdings"
                :paginated="isPaginated"
                default-sort-direction="desc"
                default-sort="roi"
                striped>

            <template slot-scope="props">

                <b-table-column field="coin.symbol" label="Symbol" sortable>
                    <i class="bt" :class="'bt-'+props.row.coin.icon.toLowerCase()"></i>&nbsp;{{ props.row.coin.symbol }}
                </b-table-column>

                <b-table-column field="coin.usd" label="Current" sortable numeric>
                    <span v-if="props.row.coin.usd < 1">{{ props.row.coin.usd | currency('$', 4) }}</span>
                    <span v-else>{{ props.row.coin.usd | currency }}</span>
                </b-table-column>

                <b-table-column field="amount" label="Amount" sortable numeric>
                    {{ props.row.amount }}
                </b-table-column>

                <b-table-column field="usd" label="Avg Cost" sortable numeric>
                    {{ props.row.usd | currency }}
                </b-table-column>

                <b-table-column field="total_revenue" label="Total" sortable numeric>
                    {{ props.row.total_revenue | currency }}
                </b-table-column>

                <b-table-column field="investment" label="Investment" sortable numeric>
                    {{ props.row.investment | currency }}
                </b-table-column>

                <b-table-column field="profit" label="Profit" sortable numeric>
                    <span class="has-text-primary" v-if="props.row.profit > 0">{{ props.row.profit | currency }}</span>
                    <span class="has-text-danger" v-else>{{ props.row.profit | currency }}</span>
                </b-table-column>

                <b-table-column field="roi" label="ROI" sortable numeric>
                    <span class="has-text-primary" v-if="props.row.roi > 0">{{ props.row.roi }}%</span>
                    <span class="has-text-danger" v-else>{{ props.row.roi }}%</span>
                </b-table-column>

            </template>
        </b-table>
    </transition>
</template>

<script>
    export default {
        data: function () {
            return {
                defaultSortDirection: 'asc',
                isPaginated: true,
            }
        },
        props: ['holdings'],
        methods: {
            goToCoinDetail(holding) {
                this.$emit('goToDetail', holding);
            }
        },
        mounted() {
        }
    }
</script>
