<style>
    .progress-container {
        margin-bottom: 0px !important;
    }
</style>
<template>
    <transition name="fade">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left" style="margin-right:.5rem">
                    <figure class="image is-36x36">
                        <i class="bt" :class="'bt-'+holding.coin.icon.toLowerCase()" style="font-size:1.5rem"></i>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="is-pulled-left">
                        <p class="title" :class="{ 'is-5' : reduceNameSize(holding) }" style="font-size:1.4rem">{{ holding.coin.name }}</p>
                        <p class="subtitle is-6">{{ holding.coin.symbol }}</p>
                    </div>
                    <div class="is-pulled-right">
                        <span class="has-text-weight-bold is-size-5" v-if="holding.coin.usd < 1">{{ holding.coin.usd | currency('$', 4) }}</span>
                        <span class="has-text-weight-bold is-size-5" v-else>{{ holding.coin.usd | currency }}</span>
                        <p class="subtitle is-6 has-text-right"><span class="tag">{{ holding.amount }}</span></p>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="row m-t-15">
                    <div class="columns">
                        <div class="column is-4 has-text-centered">
                            <p>{{ holding.investment | currency }}</p>
                            <p class="is-uppercase menu-label">Invested</p>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <p class="has-text-primary" v-if="holding.profit > 0">{{ holding.profit | currency
                                }}</p>
                            <p class="has-text-danger" v-else>{{ holding.profit | currency }}</p>
                            <p class="is-uppercase menu-label">Profit</p>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <p>{{ holding.total_revenue | currency }}</p>
                            <p class="is-uppercase menu-label">Total</p>
                        </div>
                    </div>
                </div>
                <div class="row m-t-20">
                    <progress-bar :type="'primary'" :size="'small'" :value="holding.percentage" :max="100" :show-label="true"></progress-bar>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item has-text-link" @click.prevent="goToCoinDetail(holding)">Details</a>
            <a :href="'https://coinmarketcap.com/currencies/' + holding.coin.cmc_id" target="_blank"
               rel="noopener" class="card-footer-item has-text-link">CMC</a>
        </footer>
    </div>
    </transition>
</template>

<script>
    import ProgressBar from 'vue-bulma-progress-bar'

    export default {
        components: {
            ProgressBar
        },
        data: function () {
            return {
            }
        },
        props: ['holding'],
        methods: {
            goToCoinDetail(holding) {
                this.$emit('goToDetail', holding);
            },
            reduceNameSize(holding) {
                const vm = this;
                if (holding.coin.name.length > 18){
                    return true;
                } else {
                    return false;
                }
            }
        },
        mounted() {
        }
    }
</script>
