<style scoped>
    .fa-cog {
        cursor: pointer;
    }
    #settingsDropdownButton {
        font-size: 1.5rem;
        vertical-align:top
    }
    #spinner-wrapper {
        margin-top: 4rem;
    }
</style>
<template>
    <div>
        <div id="overview" v-if="!loading">
        <div class="row m-y-1">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field">
                            <b-switch v-model="viewType"
                                      true-value="table"
                                      false-value="card">
                                {{ viewType }}
                            </b-switch>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <b-dropdown>
                                <i class="fa fa-cog" id="settingsDropdownButton" aria-hidden="true" slot="trigger"></i>

                                <b-dropdown-item>
                                    <div class="field">
                                        <b-checkbox v-model="hideLowHoldings" v-on:input="saveHidePreference"><span style="color:#4a4a4a;font-size:0.875rem;text-transform:none">Hide <$1</span></b-checkbox>
                                    </div>
                                </b-dropdown-item>
                            </b-dropdown>
                        </div>
                    </div>
                </div>
                <div class="level-right" v-if="viewType == 'card'">
                    <div class="level-item">
                        <div class="field">
                            <b-switch v-model="order"
                                      true-value="desc"
                                      false-value="asc">
                                {{ order }}
                            </b-switch>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select v-model="sort">
                                                <option value="coin.name">Alphabetical</option>
                                                <option value="total_revenue">Revenue</option>
                                                <option value="usd">Coin Price</option>
                                                <option value="investment">Invested</option>
                                                <option value="profit">Profit</option>
                                                <option value="roi">ROI</option>
                                                <option value="coin.percent_change_1h">1h Growth</option>
                                                <option value="coin.percent_change_24h">24h Growth</option>
                                                <option value="coin.percent_change_7d">7d Growth</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <b-tooltip label="Save sort">
                            <a class="is-link" @click.prevent="updateSort">
                            <span class="icon">
                                <i class="fa is-size-5" :class="saveIcon" aria-hidden="true"></i>
                            </span>
                            </a>
                        </b-tooltip>
                    </div>
                </div>
                <div class="level-right" v-else>
                    <div class="level-item">
                        <a class="button is-small m-r-10" @click.prevent="toggleFullscreen">
                            <span class="icon is-small"><i class="fa fa-expand"></i></span>
                            <span>Fullscreen</span>
                        </a>
                        <b-tooltip label="Save sort">
                        <a class="is-link" @click.prevent="updateSort">
                            <span class="icon">
                                <i class="fa is-size-5" :class="saveIcon" aria-hidden="true"></i>
                            </span>
                        </a>
                        </b-tooltip>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns is-widescreen is-multiline">
                <div class="column is-12 is-4-widescreen" v-if="viewType == 'card'" v-for="holding in orderedHoldings">
                    <overview-card :holding="holding" v-on:goToDetail="goToCoinDetail"></overview-card>
                </div>
                <div class="column is-12" v-if="viewType == 'table'">
                    <overview-table :holdings="orderedHoldings" v-on:goToDetail="goToCoinDetail"></overview-table>
                </div>
            </div>
        </div>
        </div>
        <div id="spinner-wrapper" v-else>
            <vue-simple-spinner message="Loading" line-fg-color="#00d1b2" size="large"></vue-simple-spinner>
        </div>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';
    export default {
        components: {
            Spinner
        },
        data: function(){
            return {
                holdings: [],
                sort: 'coin.name',
                order: 'asc',
                viewType: 'card',
                saveIcon: 'fa-floppy-o',
                sortSaved: 'true',
                hideLowHoldings: false,
                loading: true,
            }
        },
        created: function() {
            this.getSort();
            this.getHoldings();
            this.timer = setInterval(this.getHoldings, 30000);
        },
        computed: {
            orderedHoldings: function () {
                if (this.hideLowHoldings)
                {
                    return _.orderBy(this.largeHoldings, this.sort, this.order)
                } else
                {
                    return _.orderBy(this.holdings, this.sort, this.order)
                }
            },
            largeHoldings() {
                return this.holdings.filter(holding => {
                    return holding.total_revenue > 1;
                })
            }
        },
        watch: {
            // whenever question changes, this function will run
            order: function (newOrder) {
                this.saveIcon = 'fa-floppy-o'
            },
            sort: function (newSort) {
                this.saveIcon = 'fa-floppy-o'
            },
        },
        methods : {
            getHoldings() {
                const vm = this;
                axios.get('/dashboard/holdings/by-coin')
                    .then(response => {
                        vm.holdings = response.data.holdings;
                        vm.loading = false;
                        if (response.data.hide_low == 1)
                        {
                            vm.hideLowHoldings = true;
                        }
                    })
            },
            getSort()
            {
                const vm = this;
                axios.get('/dashboard/sort')
                    .then(response => {
                        if (Object.keys(response.data).length > 0)
                        {
                            vm.viewType = response.data.view;
                            vm.sort = response.data.card_sort;
                            vm.order = response.data.card_order;
                            vm.saveIcon = 'fa-check';
                        }
                    })
            },
            goToCoinDetail(holding) {
              this.$parent.getByCoinDetail(holding);
            },
            updateSort()
            {
                const vm = this;
                axios.post('/dashboard/sort', {
                    view: this.viewType,
                    order: this.order,
                    sort: this.sort
                }).then(function (response) {
                    vm.saveIcon = 'fa-check';
                    vm.$toast.open({
                        message: 'Your sort preference has been saved!',
                        type: 'is-success'
                    })
                }).catch(function (error) {
                        console.log(error);
                })
            },
            toggleFullscreen() {
                this.$emit('toggleFullscreen')
            },
            saveHidePreference()
            {
                const vm = this;
                axios.post('/dashboard/hide-low-holdings', {
                    hide: this.hideLowHoldings,
                })
                    .then(response => {
                        if (this.hideLowHoldings == true)
                        {
                            vm.$toast.open({
                                message: 'Low holdings are now hidden.',
                                type: 'is-info'
                            })
                        } else {
                            vm.$toast.open({
                                message: 'Low holdings are now visible.',
                                type: 'is-info'
                            })
                        }

                    })
                    .catch(error => {
                       console.log(error);
                    });

            }
        },
        mounted() {
        }
    }
</script>
