<style>
    .primary-label {
        color: #7a7a7a;
        font-size: 0.75em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-top: .25em;
    }
    .secondary-label {
        color: #7a7a7a;
        font-size: 0.75em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-top: .25em;
    }
</style>
<template>
    <div id="portfolio">
        <transition name="fade">
        <div id="default" v-if="!byCoinDetail">
        <div class="row m-b-20">
            <div class="card">
                <div class="card-content cost-basis">
                    <div class="columns">
                        <div class="column is-3 has-text-centered">
                            <p class="is-size-4 has-text-weight-bold">${{ formatPrice(stats.cost_basis) }}</p>
                            <p class="is-uppercase primary-label is-size-6">cost basis</p>
                        </div>
                        <div class="column is-3 has-text-centered">
                            <p class="is-size-4 has-text-weight-bold">${{ formatPrice(stats.revenue) }}</p>
                            <p class="is-uppercase primary-label is-size-6">revenue</p>
                        </div>
                        <div class="column is-3 has-text-centered">
                            <p class="is-size-4 has-text-weight-bold">${{ formatPrice(stats.profit) }}</p>
                            <p class="is-uppercase primary-label is-size-6">profit</p>
                        </div>
                        <div class="column is-3 has-text-centered">
                            <p class="is-size-4 has-text-weight-bold">{{ stats.roi }}%</p>
                            <p class="is-uppercase primary-label is-size-6">ROI</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content initial-investment" style="padding: 1rem 1.5rem;">
                    <div class="columns has-text-centered">
                        <div class="column">
                            <p class="has-text-weight-bold">{{ stats.original_investment | currency}}</p>
                            <p class="is-uppercase secondary-label">Initial Investment</p>
                        </div>
                        <div class="column">
                            <p class="has-text-weight-bold">{{ stats.original_profit | currency}}</p>
                            <p class="is-uppercase secondary-label">Profit on Initial</p>
                        </div>
                        <div class="column">
                            <p class="has-text-weight-bold">{{ stats.original_roi }}%<i class="fa fa-question-circle has-text-grey-light" @mouseenter="showCongrats" @mouseleave="hideCongrats" aria-hidden="true" style="font-size:.9rem;position:absolute"></i></p>
                            <p class="is-uppercase secondary-label">roi on initial</p>
                            <div class="notification" v-if="congratsActive" style="position:absolute;z-index:1">
                            <div class="has-text-center">Congratulations.<br><br>
                            At a {{ stats.original_roi }}% return on initial, you've made<br><br>
                            ${{ formatPrice(((1 + (stats.original_roi / 100) ) * stats.original_investment) - ((1.013) * stats.original_investment)) }}<br><br>
                            more than a year's time of your money in a standard savings account at 1.3%.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tabs">
                <ul>
                    <li :class="{'is-active' : overviewActive }" @click="setOverviewActive">
                        <a>
                            <span class="icon is-small"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                            <span>Overview</span>
                        </a>
                    </li>
                    <li :class="{'is-active' : transactionsActive }" @click="setTransactionsActive">
                        <a>
                            <span class="icon is-small"><i class="fa fa-list" aria-hidden="true"></i></span>
                            <span>Transactions</span>
                        </a>
                    </li>
                    <li :class="{'is-active' : breakdownActive }" @click="setBreakdownActive">
                        <a>
                            <span class="icon is-small"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
                            <span>Breakdown</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <transition name="fade">
            <overview v-if="overviewActive" @toggleFullscreen="toggleFullscreen"></overview>
            </transition>
            <transition name="fade">
            <transactions v-if="transactionsActive"></transactions>
            </transition>
            <transition name="fade">
                <breakdown v-if="breakdownActive"></breakdown>
            </transition>
        </div>
        </div>
        </transition>
        <transition name="fade">
        <div id="by-coin-detail" v-if="byCoinDetail">
                <by-coin-detail v-if="byCoinDetail" :coin="coinDetail"></by-coin-detail>
        </div>
        </transition>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                stats: [],
                overviewActive: true,
                transactionsActive: false,
                byCoinDetail: false,
                breakdownActive: false,
                coinDetail: [],
                congratsActive: false,
            }
        },
        created: function() {
            this.getStats();
            this.timer = setInterval(this.getStats, 30000);
        },
        methods : {
            getStats() {
                const vm = this;
                axios.get('/dashboard/stats')
                    .then(response => {
                        vm.stats = response.data;
                    })
            },
            setOverviewActive(){
                this.overviewActive = true;
                this.transactionsActive = false;
                this.byCoinDetail = false;
                this.breakdownActive = false;
            },
            setTransactionsActive(){
                this.overviewActive = false;
                this.transactionsActive = true;
                this.byCoinDetail = false;
                this.breakdownActive = false;
            },
            getByCoinDetail(coin){
                this.overviewActive = false;
                this.transactionsActive = false;
                this.byCoinDetail = true;
                this.coinDetail = coin;
                this.breakdownActive = false;
            },
            setBreakdownActive(){
                this.overviewActive = false;
                this.transactionsActive = false;
                this.byCoinDetail = false;
                this.breakdownActive = true;
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            showCongrats() {
                this.congratsActive = true;
            },
            hideCongrats() {
                this.congratsActive = false;
            },
            toggleFullscreen() {
                this.$emit('toggleFullscreen')
            }
        },
        mounted() {

        }
    }
</script>
