<style scoped>
    #spinner-wrapper {
        margin-top: 4rem;
    }
</style>
<template>
    <div class="m-t-20">
        <div class="row">
            <div class="card m-b-30">
                <div class="card-content">
                    <div id="spinner-wrapper" v-if="loading">
                        <vue-simple-spinner message="Loading" line-fg-color="#00d1b2" size="large"></vue-simple-spinner>
                    </div>
                    <div v-else>
                        <b-field grouped group-multiline>
                            <b-select v-model="perPage" :disabled="!isPaginated">
                                <option value="10">10 per page</option>
                                <option value="25">25 per page</option>
                                <option value="50">50 per page</option>
                                <option value="100">100 per page</option>
                            </b-select>
                            <div class="field is-grouped" style="margin-right:auto">
                                <b-radio v-model="filterType"
                                         native-value="all">
                                    All
                                </b-radio>
                                <b-radio v-model="filterType"
                                         native-value="buy">
                                    Buy
                                </b-radio>
                                <b-radio v-model="filterType"
                                         native-value="trade">
                                    Trade
                                </b-radio>
                                <b-radio v-model="filterType"
                                         native-value="sale">
                                    Sale
                                </b-radio>
                            </div>
                            <div style="margin-left:auto">
                                <div class="level">
                                    <div class="level-left">
                                        <div class="level-item m-r-15">
                                            {{ filteredList.length }} / {{ transactions.length }} Transactions
                                        </div>
                                    </div>
                                    <div class="level-right">
                                        <div class="level-item">
                                            <b-field>
                                                <b-input placeholder="Search Transactions" v-model="search"></b-input>
                                            </b-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </b-field>

                        <b-table ref="table"
                                 :data="filteredList"
                                 :paginated="isPaginated"
                                 :per-page="perPage"
                                 :pagination-simple="isPaginationSimple"
                                 :default-sort="defaultSort"
                                 :default-sort-direction="defaultSortDirection"
                                 :bordered="false"
                                 :striped="true"
                                 :narrowed="false"
                                 :hoverable="true">

                            <template slot-scope="props">
                                <b-table-column field="date" label="Date" sortable>
                                    {{ props.row.date | formatDateTime }}
                                </b-table-column>

                                <b-table-column field="type" label="Type" sortable>
                                    <span class="tag is-primary" v-if="props.row.type == 'buy'">Buy</span>
                                    <span class="tag is-info" v-else-if="props.row.type == 'trade'">Trade</span>
                                    <span class="tag is-danger" v-else>Sale</span>
                                </b-table-column>

                                <b-table-column field="from" label="From" sortable>
                                    <i class="fa fa-usd" v-if="props.row.from == 'USD'"></i>
                                    <i class="bt" :class="'bt-'+props.row.from.toLowerCase()" v-else></i>
                                    {{ props.row.from }}&nbsp;
                                    <small v-if="props.row.from_price < 1">({{ props.row.from_price | currency('$', 4) }})</small>
                                    <small v-else>({{ props.row.from_price | currency() }})</small>
                                </b-table-column>

                                <b-table-column field="to" label="To" sortable>
                                    <i class="fa fa-usd" v-if="props.row.to == 'USD'"></i>
                                    <i class="bt" :class="'bt-'+props.row.to.toLowerCase()" v-else></i>
                                    {{ props.row.to }}&nbsp;
                                    <small v-if="props.row.to_price < 1">({{ props.row.to_price | currency('$', 4) }})</small>
                                    <small v-else>({{ props.row.to_price | currency() }})</small>
                                </b-table-column>

                                <b-table-column field="from_amount" label="From Amt" sortable numeric>
                                    <span v-if="props.row.from == 'USD'">{{ props.row.from_amount | currency}}</span>
                                    <span v-else>{{ props.row.from_amount }}</span>
                                </b-table-column>

                                <b-table-column field="to_amount" label="To Amt" sortable numeric>
                                    <span v-if="props.row.to == 'USD'">{{ props.row.to_amount | currency}}</span>
                                    <span v-else>{{ props.row.to_amount }}</span>
                                </b-table-column>

                                <b-table-column field="value" label="Value (USD)" sortable numeric>
                                    {{ props.row.value | currency }}
                                </b-table-column>

                                <b-table-column label="Delete">
                                    <a class="button is-small is-danger is-outlined" @click="activateDeleteModal('trades', props.row.id)" v-if="props.row.type == 'trade'">Delete</a>
                                    <a class="button is-small is-danger is-outlined" @click="activateDeleteModal('transactions', props.row.id)" v-else-if="props.row.type == 'buy'">Delete</a>
                                    <a class="button is-small is-danger is-outlined" @click="activateDeleteModal('sales', props.row.id)" v-else>Delete</a>
                                </b-table-column>

                            </template>
                        </b-table>
                </div>
                </div>
            </div>
        </div>
        <b-modal :active.sync="isModalActive" has-modal-card v-on:deleted="getTransactions">
            <confirm-delete-modal v-bind="deleteProps"></confirm-delete-modal>
        </b-modal>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';
    export default {
        components: {
            Spinner
        },
        data: function(){
            return {
                transactions: [],
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'asc',
                defaultSort: 'date',
                perPage: 10,
                search: '',
                filterType: 'all',
                isModalActive: false,
                loading: true,
                deleteProps: {
                    type: '',
                    id: ''
                }
            }
        },
        created: function() {
            this.getTransactions();
            this.timer = setInterval(this.getTransactions, 30000);
        },
        computed: {
            filteredList() {
                if (this.filterType == 'all')
                {
                    return this.transactions.filter(transaction => {
                        return transaction.from.toLowerCase().includes(this.search.toLowerCase()) || transaction.to.toLowerCase().includes(this.search.toLowerCase())
                    })
                } else
                {
                    return this.transactions.filter(transaction => {
                        return transaction.type.toLowerCase().includes(this.filterType) && (transaction.from.toLowerCase().includes(this.search.toLowerCase()) || transaction.to.toLowerCase().includes(this.search.toLowerCase()))
                    })
                }
            }
        },
        methods : {
            getTransactions() {
                const vm = this;
                axios.get('/dashboard/transactions/all')
                    .then(response => {
                        vm.transactions = response.data;
                        vm.loading = false;
                    })
            },
            activateDeleteModal(type, id) {
                const vm = this;
                vm.deleteProps.type = type;
                vm.deleteProps.id = id;
                vm.isModalActive = true;
            }
        },
        mounted() {

        }
    }
</script>
