<template>
        <div>
        <section class="hero">
                <div class="hero-body">
                        <div class="container">
                                <div class="columns">
                                        <div class="column">
                                                <h1 class="title">Binance Import</h1>
                                        </div>
                                        <div class="column has-text-centered">
                                                <img src="/img/binance.png">
                                        </div>
                                </div>
                        </div>
                </div>
        </section>
        <div class="container">
                <transition name="fade">
                <section v-if="!imported">
                        <div class="columns is-desktop is-centered">
                                <div class="column is-6">
                                        <div class="notification has-text-centered">
                                                <p>Check the transactions that you would like to import. Please be aware that duplicate transactions will be created if they already exist! Visit the transactions tab in your portfolio to delete existing transactions.</p>
                                        </div>
                                </div>
                        </div>
                        <div class="row has-text-right">
                                <button class="button field is-danger" @click="checkedRows = []"
                                        :disabled="!checkedRows.length">
                                        <b-icon icon="close"></b-icon>
                                        <span>Clear checked</span>
                                </button>
                                <a class="button is-primary" v-if="checkedRows.length > 0" @click.prevent="runImport">
                                        <span class="tag is-light m-r-5">{{ checkedRows.length }}</span>
                                        Import Trades
                                </a>
                                <a class="button is-primary" v-else disabled="disabled">Import Trades</a>
                        </div>
                        <b-tabs>
                                <b-tab-item label="Table">
                                        <b-table
                                                :data="importList"
                                                :checked-rows.sync="checkedRows"
                                                checkable>

                                                <template slot-scope="props">
                                                        <b-table-column label="Date" centered>
                                                                {{ new Date(props.row.date).toLocaleDateString() }}
                                                        </b-table-column>

                                                        <b-table-column label="Action">
                                                                {{ props.row.action }}
                                                        </b-table-column>

                                                        <b-table-column label="Coin 1">
                                                                <coin-icon :icon="props.row.coin_1"></coin-icon>&nbsp;{{ props.row.coin_1 }}
                                                        </b-table-column>

                                                        <b-table-column label="Trade" centered>
                                                                <i class="fa fa-arrow-left" v-if="props.row.action == 'SELL'"></i>
                                                                <i class="fa fa-arrow-right" v-else></i>
                                                        </b-table-column>

                                                        <b-table-column label="Coin 2">
                                                                <coin-icon :icon="props.row.coin_2"></coin-icon>&nbsp;{{ props.row.coin_2 }}
                                                        </b-table-column>

                                                        <b-table-column label="Amount" numeric>
                                                                {{ props.row.amount }}
                                                        </b-table-column>

                                                        <b-table-column label="Total" numeric>
                                                                {{ props.row.total }}
                                                        </b-table-column>

                                                        <b-table-column label="Price" numeric>
                                                                {{ props.row.price }}
                                                        </b-table-column>


                                                </template>

                                                <template slot="bottom-left">
                                                        <b>Total checked</b>: {{ checkedRows.length }}
                                                </template>

                                        </b-table>
                                </b-tab-item>

                                <b-tab-item label="Checked rows">
                                        <pre>{{ checkedRows }}</pre>
                                </b-tab-item>
                        </b-tabs>
                </section>
                <section v-else>
                        <div class="columns is-desktop is-centered">
                                <div class="column is-6 has-text-centered">
                                        <h3 class="is-size-3">Your Binance trades are currently being imported.</h3>
                                        <a class="button is-primary" href="/dashboard">Go to Dashboard</a>
                                </div>
                        </div>
                </section>
                </transition>
        </div>
        </div>
</template>

<script>
    export default {
        data: function () {
            return {
                importList: [],
                checkedRows: [],
                imported: false,
                post: []
            }
        },
        created: function (){
            this.retrieveImportList()
        },
        methods: {
            retrieveImportList()
            {
                const vm = this;
                axios.get('/binance/retrieve-import')
                    .then(response => {
                        vm.importList = response.data;
                        vm.checkedRows = response.data;
                        console.log(response.data);
                    });
            },
            runImport()
            {
                const vm = this;
                axios.post('/binance/handle-import', {
                    trades: this.checkedRows
                })
                    .then(response => {
                        console.log(response.data);
                        vm.imported = true;
                        vm.post = response.data;
                    })
                    .catch(error => {
                        module.status = error.response.data.status;
                    });
            }
        },
        mounted() {

        }
    }
</script>
