<template>
        <div>
        <section class="hero">
                <div class="hero-body">
                        <div class="container">
                                <div class="columns">
                                        <div class="column">
                                                <h1 class="title">Coinbase Import</h1>
                                        </div>
                                        <div class="column has-text-centered">
                                                <img src="/img/coinbase.png">
                                        </div>
                                </div>
                        </div>
                </div>
        </section>
        <div class="container">
                <transition name="fade">
                <div v-if="!imported">
                        <section>
                                <div class="columns is-desktop is-centered">
                                        <div class="column is-6">
                                                <div class="notification has-text-centered">
                                                        <p>Check the transactions that you would like to import.</p>
                                                </div>
                                        </div>
                                </div>
                                <div class="level">
                                        <div class="level-left">
                                                <div class="level-item">
                                                        <h1 class="title">Available Imports</h1>
                                                </div>
                                        </div>
                                        <div class="level-right">
                                                <div class="level-item">
                                                        <button class="button field is-danger" @click="checkedRows = []"
                                                                :disabled="!checkedRows.length">
                                                                <b-icon icon="close"></b-icon>
                                                                <span>Clear checked</span>
                                                        </button>
                                                </div>
                                                <div class="level-item">
                                                        <a class="button is-primary" v-if="checkedRows.length > 0" @click.prevent="runImport">
                                                                <span class="tag is-light m-r-5">{{ checkedRows.length }}</span>
                                                                Import Transactions
                                                        </a>
                                                        <a class="button is-primary" v-else disabled="disabled">Import Transactions</a>
                                                </div>
                                        </div>
                                </div>
                                <b-tabs>
                                        <b-tab-item label="Table">
                                                <b-table
                                                        :data="importList"
                                                        :checked-rows.sync="checkedRows"
                                                        checkable>

                                                        <template slot-scope="props">
                                                                <b-table-column field="date" label="Date" centered sortable>
                                                                        {{ new Date(props.row.date).toLocaleDateString() }}
                                                                </b-table-column>

                                                                <b-table-column field="coin_symbol" label="Coin" sortable>
                                                                        <coin-icon :icon="props.row.coin_symbol"></coin-icon>&nbsp;{{ props.row.coin_symbol }}
                                                                </b-table-column>

                                                                <b-table-column field="action" label="Action" sortable>
                                                                        <span class="tag is-primary" v-if="props.row.action == 'buy'">Buy</span>
                                                                        <span class="tag is-danger" v-else>Sale</span>
                                                                </b-table-column>

                                                                <b-table-column field="amount" label="Amount" numeric sortable>
                                                                        {{ props.row.amount }}
                                                                </b-table-column>

                                                                <b-table-column field="usd" label="Price Per Coin" numeric sortable>
                                                                        {{ props.row.usd | currency}}
                                                                </b-table-column>

                                                                <b-table-column field="total" label="Subtotal" numeric sortable>
                                                                        {{ props.row.total | currency}}
                                                                </b-table-column>

                                                                <b-table-column field="fees_usd" label="Fees" numeric sortable>
                                                                        {{ props.row.fees_usd | currency}}
                                                                </b-table-column>
                                                        </template>

                                                        <template slot="bottom-left">
                                                                <b>Total checked</b>: {{ checkedRows.length }}
                                                        </template>

                                                </b-table>
                                        </b-tab-item>

                                        <b-tab-item label="Checked rows">
                                                <pre>{{ checkedRows }}</pre>
                                        </b-tab-item>
                                </b-tabs>
                        </section>
                        <hr>
                        <section>
                                <div class="level">
                                        <div class="level-left">
                                                <div class="level-item">
                                                        <h1 class="title">Previous Imports</h1>
                                                </div>
                                        </div>
                                        <div class="level-right">
                                                <div class="level-item">
                                                        <a class="button is-danger" v-if="checkedAlreadyImportedRows.length > 0" @click.prevent="deletePreviousImport">
                                                                <span class="tag is-light m-r-5">{{ checkedAlreadyImportedRows.length }}</span>
                                                                Delete Import & Data
                                                        </a>
                                                        <a class="button is-danger" v-else disabled="disabled">Delete Import & Data</a>
                                                </div>
                                        </div>
                                </div>
                                <b-tabs>
                                        <b-tab-item label="Previous Import">
                                                <b-table
                                                        :data="alreadyImported"
                                                        :checked-rows.sync="checkedAlreadyImportedRows"
                                                        checkable>

                                                        <template slot-scope="props">
                                                                <b-table-column field="date" label="Date" centered sortable>
                                                                        {{ new Date(props.row.date).toLocaleDateString() }}
                                                                </b-table-column>

                                                                <b-table-column field="coin_symbol" label="Coin" sortable>
                                                                        <coin-icon :icon="props.row.coin_symbol"></coin-icon>&nbsp;{{ props.row.coin_symbol }}
                                                                </b-table-column>

                                                                <b-table-column field="action" label="Action" sortable>
                                                                        <span class="tag is-primary" v-if="props.row.action == 'buy'">Buy</span>
                                                                        <span class="tag is-danger" v-else>Sale</span>
                                                                </b-table-column>

                                                                <b-table-column field="amount" label="Amount" numeric sortable>
                                                                        {{ props.row.amount }}
                                                                </b-table-column>

                                                                <b-table-column field="usd" label="Price Per Coin" numeric sortable>
                                                                        {{ props.row.usd | currency}}
                                                                </b-table-column>

                                                                <b-table-column field="total" label="Subtotal" numeric sortable>
                                                                        {{ props.row.total | currency}}
                                                                </b-table-column>

                                                                <b-table-column field="fees_usd" label="Fees" numeric sortable>
                                                                        {{ props.row.fees_usd | currency}}
                                                                </b-table-column>
                                                        </template>

                                                        <template slot="bottom-left">
                                                                <b>Total checked</b>: {{ checkedAlreadyImportedRows.length }}
                                                        </template>

                                                </b-table>
                                        </b-tab-item>

                                        <b-tab-item label="Checked rows">
                                                <pre>{{ checkedAlreadyImportedRows }}</pre>
                                        </b-tab-item>
                                </b-tabs>
                        </section>
                </div>
                <section v-else>
                        <div class="columns is-desktop is-centered">
                                <div class="column is-6 has-text-centered">
                                        <h3 class="is-size-3">{{ post.length }} transactions successfully imported!</h3>
                                        <a class="button is-primary" href="/dashboard">Go to Dashboard</a>
                                </div>
                        </div>
                </section>
                </transition>
        </div>
        </div>
</template>

<script>
    export default {
        data: function () {
            return {
                importList: [],
                checkedRows: [],
                alreadyImported: [],
                checkedAlreadyImportedRows: [],
                imported: false,
                post: []
            }
        },
        created: function (){
            this.retrieveImportList();
            this.retrieveAlreadyImported();
        },
        methods: {
            retrieveImportList()
            {
                const vm = this;
                axios.get('/coinbase/retrieve-import')
                    .then(response => {
                        vm.importList = response.data;
                        vm.checkedRows = response.data;
                        console.log(response.data);
                    });
            },
            runImport()
            {
                const vm = this;
                axios.post('/coinbase/import', {
                    transactions: this.checkedRows
                })
                    .then(response => {
                        console.log(response.data);
                        vm.imported = true;
                        vm.post = response.data;
                    })
                    .catch(error => {
                        module.status = error.response.data.status;
                    });
            },
            retrieveAlreadyImported()
            {
                const vm = this;
                axios.get('/coinbase/already-imported')
                    .then(response => {
                        vm.alreadyImported = response.data;
                        vm.checkedAlreadyImportedRows = response.data;
                        console.log(response.data);
                    });
            },
            deletePreviousImport()
            {
                const vm = this;
                axios.post('/coinbase/delete-previous', {
                    import: this.checkedAlreadyImportedRows
                })
                    .then(response => {
                        console.log(response.data);
                        vm.post = response.data;
                        this.retrieveImportList();
                        this.retrieveAlreadyImported();
                    })
                    .catch(error => {
                        module.status = error.response.data.status;
                    });
            }
        },
        mounted() {

        }
    }
</script>
