<template>
    <div id="import-coins">
        <section>
            <div class="columns">
                <div class="column">
                    <h1 class="title">Coinbase Import</h1>
                    <h3 class="subtitle">Run this import to review and select purchases and sales from Coinbase.</h3>
                </div>
                <div class="column has-text-centered">
                    <img src="/img/coinbase.png">
                </div>
            </div>
            <div class="content">
                <div class="columns">
                    <div class="column">
                        <p>Using OAuth and the Coinbase API, this import takes a <span class="has-text-weight-bold">read-only</span> snapshot of your purchases and sales.
                            You can then review and select the desired transactions to import.</p>
                    </div>
                    <div class="column has-text-centered">
                        <a class="button is-info" href="/coinbase/refresh">Start Coinbase Import</a>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-t-40 m-b-40">
        <section>
            <div class="columns">
                <div class="column">
                    <h1 class="title">GDAX Import</h1>
                    <h3 class="subtitle">Run this import to review & select purchases, sales, & trades from GDAX.</h3>
                </div>
                <div class="column has-text-centered">
                    <img src="/img/gdax.png">
                </div>
            </div>
            <div class="content">
                <div class="columns">
                    <div class="column">
                        <p>Using the GDAX API, this import takes a <span class="has-text-weight-bold">read-only</span> snapshot of your purchases, sales, & trades.
                            You can then review and select the desired transactions to import.</p>
                    </div>
                    <div class="column has-text-centered">
                        <a class="button is-info" href="/gdax/fetch">Start GDAX Import</a>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-t-40 m-b-40">
        <section>
            <div class="columns">
                <div class="column">
                    <h1 class="title">Binance Import</h1>
                    <h3 class="subtitle">Run this import to review and import trades from Binance.</h3>
                </div>
                <div class="column has-text-centered">
                    <img src="/img/binance.png">
                </div>
            </div>
            <div class="content">
                <div class="columns">
                    <div class="column">
                        <p>Use the Binance order history export and upload here to import your trades.</p>
                    </div>
                    <div class="column has-text-centered">
                        <!--<a class="button is-info" href="" disabled="disabled">Coming Soon</a>-->
                        <form action="/binance/import" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="_token" :value="csrf">
                            <div class="field is-grouped" style="display:flex;justify-content:space-around">
                                <div class="file">
                                    <label class="file-label">
                                        <input class="file-input" type="file" name="binanceFile" @change="processBinanceFile">
                                        <span class="file-cta">
                                          <span class="file-icon">
                                            <i class="fa fa-upload"></i>
                                          </span>
                                          <span class="file-label">
                                            Choose a file…
                                          </span>
                                        </span>
                                    </label>
                                </div>
                                <pre v-if="binanceFile.name" style="padding:.5em">{{binanceFile.name}}</pre>
                                <pre v-else style="padding:.5em">Choose a file</pre>
                                <button class="button is-info" v-if="binanceFile.name" type="submit">Submit</button>
                                <a class="button is-info" v-else disabled="disabled">Submit</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
        <hr class="m-t-40 m-b-40">
        <section>
            <div class="columns">
                <div class="column">
                    <h1 class="title">Bittrex Import</h1>
                    <h3 class="subtitle">Run this import to review and import trades from Bittrex.</h3>
                </div>
                <div class="column has-text-centered">
                    <img src="/img/bittrex.png">
                </div>
            </div>
            <div class="content">
                <div class="columns">
                    <div class="column">
                        <p>Use the Bittrex order history export and upload here to import your trades.</p>
                    </div>
                    <div class="column has-text-centered">
                        <a class="button is-info" href="" disabled="disabled">Coming Soon</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                subtitle: 'Import Coins',
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                binanceFile: []
            }
        },
        methods: {
            processBinanceFile(event) {
                this.binanceFile = event.target.files[0]
            }
        },
        mounted() {

        }
    }
</script>
