<template>
    <div id="add-coins">
        <section>
            <div class="columns is-centered is-multiline">
                <div class="column is-12 is-6-desktop">
                    <usd-to-coin :coins="availableCoins"></usd-to-coin>
                </div>
            </div>
        </section>
        <transition name="slideDown">
            <b-notification type="is-success" v-if="postSuccess">Your coin has been added.</b-notification>
        </transition>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                amount: '',
                price: '',
                coin: '',
                availableCoins: [],
                postSuccess: false,
            }
        },
        created: function() {
            this.getAvailableCoins();
        },
        methods: {
            getAvailableCoins() {
                const vm = this;
                axios.get('/coins/get')
                    .then(function (response) {
                        vm.availableCoins = response.data;
                    })
            },
            submitAddCoin() {
                const vm = this;
                axios.post('/dashboard/add-coins', {
                    amount: this.amount,
                    price: this.price,
                    coin: this.coin
                })
                    .then(function (response) {
                        console.log(response);
                        vm.postSuccess = true;
                        vm.amount = '';
                        vm.price = '';
                        vm.coin = '';
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
        },
        mounted() {

        }
    }
</script>
