<template>
    <div class="card">
        <div class="card-content">
            <div v-if="addedCoin">
                <h1 class="title" style="margin-bottom:0"><i class="fa fa-usd"></i>&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;<i class="bt" :class="'bt-'+addedCoin.toLowerCase()"></i></h1>
                <h2 class="menu-label">USD to {{ addedCoin }}</h2>
            </div>
            <div v-else>
                <h1 class="title" style="margin-bottom:0"><i class="fa fa-usd"></i>&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;<i class="fa fa-question-circle-o" aria-hidden="true"></i></h1>
                <h2 class="menu-label">USD to Coin</h2>
            </div>
            <b-field label="I bought" class="m-t-10">
                <selectize v-model="addedCoin" placeholder="Select a coin"> <!-- settings is optional -->
                    <option v-for="coin in coins" :value="coin.symbol">{{ coin.symbol }}</option>
                </selectize>
            </b-field>
            <b-field :label="addedCoin + ' Amount'" v-if="addedCoin">
                <b-input type="number" min="0.00000001" step="any" :placeholder="addedCoin + ' Quantity'"  v-model="amount"></b-input>
            </b-field>
            <b-field label="Coin Amount" v-else>
                <b-input type="number" min="0.00000001" step="any" placeholder="Coin Quantity" v-model="amount"></b-input>
            </b-field>
            <b-field label="Cost (USD)">
                <b-input type="number" min="0" step=".01" placeholder="Cost in USD" v-model="usd"></b-input>
            </b-field>
            <b-field label="Fees (USD)">
                <b-input type="number" min="0" step=".01" placeholder="Fees in USD" v-model="fees"></b-input>
            </b-field>
            <b-field label="Purchase Date">
                <b-datepicker
                        placeholder="Click to select..."
                        icon="calendar" v-model="date">
                </b-datepicker>
            </b-field>
            <b-field label="Purchase Time">
            </b-field>
            <b-field grouped>
                <b-input v-model="hour"
                        type="number"
                         min="00"
                         max="12"
                         step="1"
                         expanded>
                </b-input>
                <b-input v-model="minute"
                        type="number"
                         min="00"
                         max="59"
                         step="1"
                         expanded>
                </b-input>
                <b-select v-model="amPm">
                    <option>AM</option>
                    <option>PM</option>
                </b-select>
            </b-field>
            <b-field class="m-t-20" style="display:flex;justify-content:flex-end;">
                <p class="control">
                    <button class="button is-primary" @click.prevent="submitAddCoin" v-if="amount && addedCoin && date && usd">Add</button>
                    <button class="button is-primary" @click.prevent="submitAddCoin" disabled v-else>Add</button>
                </p>
            </b-field>
        </div>
    </div>
</template>

<script>
    import Selectize from 'vue2-selectize'

    export default {
        components: {
            Selectize
        },
        data: function () {
            return {
                amount: '',
                addedCoin: '',
                date: new Date(),
                hour: '12',
                minute: '00',
                amPm: 'AM',
                usd: '',
                fees: '',
                postSuccess: false,
                status: ''
            }
        },
        props: ['coins'],
        methods: {
            submitAddCoin() {
                const vm = this;
                axios.post('/dashboard/add/usd-to-coin', {
                    amount: this.amount,
                    coin: this.addedCoin,
                    usd: this.usd,
                    fees: this.fees,
                    date: this.date,
                    hour: this.hour,
                    minute: this.minute,
                    amPm: this.amPm
                })
                    .then(response => {
                        vm.postSuccess = true;
                        vm.amount = '';
                        vm.usd = '';
                        vm.fees = '';
                        vm.coin = '';
                        vm.date = new Date();
                        vm.hour = '12';
                        vm.minute = '00';
                        vm.amPm = 'AM';
                        vm.$toast.open({
                            message: 'Your transaction has been added!',
                            type: 'is-success'
                        })
                    })
                    .catch(error => {
                        module.status = error.response.data.status;
                    });
            },
        },
        mounted() {
        }
    }
</script>
