<style>
    .desiredAverageInput {
        display: inline-flex;
    }
    .desiredAverageInput:before {
        content: "\0024";
        font-size:1.2rem;
        margin-right: 4px;
        margin-top:5px;
        font-weight: bold;
        vertical-align:bottom;
    }
</style>
<template>
    <div class="card">
        <div class="card-content">
            <h4 class="title is-size-4">Average Price Calculator</h4>
            <h3 class="subtitle is-size-5">Select your holding and enter a desired average (must be greater than current coin price).</h3>
            <div class="columns">
                <div class="column is-one-third">
                        <div class="field is-grouped">
                            <p class="control">
                                <label class="label">Select Coin</label>
                                <span class="select">
                                    <select placeholder="Select a coin" v-model="selectedCoin">
                                        <option
                                                v-for="holding in holdings"
                                                :value="holding">
                                            {{ holding.coin.symbol }}
                                        </option>
                                    </select>
                                </span>
                            </p>
                            <p class="control">
                                <label class="label">Desired Avg Price</label>
                                <span v-if="selectedCoin && selectedCoin.coin.usd > selectedCoin.usd" class="has-text-danger">Cannot lower average</span>
                                <input v-else-if="selectedCoin" class="input desiredAverageInput" :class="{'is-danger': desiredAvg <= selectedCoin.coin.usd}" :placeholder="selectedCoin.usd"
                                       type="number" min="selectedCoin.coin.usd" v-model.number="desiredAvg">
                                <input v-else class="input desiredAverageInput" placeholder="N/A"
                                       type="number" v-model.number="desiredAvg">
                            </p>
                        </div>
                </div>
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <p class="has-text-weight-bold" style="margin-bottom:0.8em">Current Avg</p>
                            <p v-if="selectedCoin == null">N/A</p>
                            <p v-else-if="selectedCoin.usd < 1">{{ selectedCoin.usd | currency('$', 4) }}</p>
                            <p v-else>{{ selectedCoin.usd | currency }}</p>
                        </div>
                        <div class="column">
                            <p class="has-text-weight-bold" style="margin-bottom:0.8em">Owned</p>
                            <p v-if="selectedCoin == null">N/A</p>
                            <p v-else>{{ selectedCoin.amount }}</p>
                        </div>
                        <div class="column">
                            <p class="has-text-weight-bold" style="margin-bottom:0.8em">Current Price</p>
                            <p v-if="selectedCoin == null">N/A</p>
                            <input class="input" v-else-if="currentPrice !== null" v-model.number="currentPrice" min="0">
                            <!--<p v-else-if="currentPrice < 1">{{ currentPrice | currency('$', 4) }}</p>-->
                            <!--<p v-else>{{ currentPrice | currency }}</p>-->
                        </div>
                        <div class="column">
                            <p class="has-text-weight-bold" style="margin-bottom:0.8em">Amount to Buy</p>
                            <p v-if="selectedCoin == null">N/A</p>
                            <p v-else>{{ amountToBuy }}</p>
                        </div>
                        <div class="column">
                            <p class="has-text-weight-bold" style="margin-bottom:0.8em">Cost</p>
                            <p v-if="selectedCoin == null">N/A</p>
                            <p v-else>{{ amountToBuyCost | currency }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function(){
            return {
                selectedCoin: null,
                desiredAvg: null,
                currentPrice: null,
            }
        },
        props: ['holdings'],
        methods : {

        },
        watch: {
            selectedCoin: function (newCoin) {
                this.currentPrice = newCoin.coin.usd;
            }
        },
        computed: {
          amountToBuy: function () {
              if (this.selectedCoin != null && this.desiredAvg != 0 && this.desiredAvg >= this.selectedCoin.coin.usd)
              {
                  return this.selectedCoin.amount * (this.selectedCoin.usd - this.desiredAvg) / (this.desiredAvg - this.currentPrice)
              }
          },
            amountToBuyCost: function () {
              return this.amountToBuy * this.selectedCoin.coin.usd
            }
        },
        mounted() {

        }
    }
</script>
