<style>
    .desiredAverageInput {
        display: inline-flex;
    }

    .desiredAverageInput:before {
        content: "\0024";
        font-size: 1.2rem;
        margin-right: 4px;
        margin-top: 5px;
        font-weight: bold;
        vertical-align: bottom;
    }
</style>
<template>
    <div class="card">
        <div class="card-content">
            <h4 class="title is-size-4">Conversion Calculator</h4>
            <h3 class="subtitle is-size-5">Convert first currency / coin amount to another.</h3>
            <div class="columns is-vcentered">
                <div class="column is-one-fifth">
                    <div class="field">
                        <p class="control">
                            <label class="label">Starting Amount</label>
                            <input class="input" type="number" v-model="initialAmount">
                        </p>
                    </div>
                </div>
                <div class="column is-one-fifth">
                    <div class="field">
                        <p class="control">
                            <b-field label="Starting Coin">
                                <b-autocomplete
                                        v-model="initialSymbol"
                                        placeholder="e.g. BTC"
                                        :keep-first="keepFirst"
                                        :open-on-focus="openOnFocus"
                                        :data="filteredCoins"
                                        field="symbol"
                                        @select="option => initialCoin = option">
                                </b-autocomplete>
                            </b-field>
                        </p>
                    </div>
                </div>
                <div class="column is-one-fifth has-text-centered">
                    <span class="is-size-5">=</span>
                </div>
                <div class="column is-one-fifth">
                    <div class="field">
                        <p class="control">
                            <label class="label">Target Amount</label>
                            <input class="input" type="number" v-model="targetAmount">
                        </p>
                    </div>
                </div>
                <div class="column is-one-fifth">
                    <div class="field">
                        <p class="control">
                            <b-field label="Target Coin">
                                <b-autocomplete
                                        v-model="targetSymbol"
                                        placeholder="e.g. BTC"
                                        :keep-first="keepFirst"
                                        :open-on-focus="openOnFocus"
                                        :data="filteredCoins"
                                        field="symbol"
                                        @select="option => targetCoin = option">
                                </b-autocomplete>
                            </b-field>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                initialCoin: null,
                initialAmount: null,
                initialSymbol: '',
                targetCoin: null,
                targetAmount: null,
                targetSymbol: '',
                keepFirst: true,
                openOnFocus: true,
                coins: [],
            }
        },
        created: function () {
            this.getCoins()
        },
        methods: {
            getCoins() {
                const vm = this;
                axios.get('/coins/get')
                    .then(response => {
                        vm.coins = response.data;
                    })
            }
        },
        computed: {
            filteredCoins() {
                return this.coins.filter((coin) => {
                    return coin.symbol
                        .toString()
                        .toLowerCase() === this.initialSymbol.toString().toLowerCase()
                })
            },
        },
        mounted() {

        }
    }
</script>
