<template>
    <div id="tools">
        <!--<section class="p-b-20">-->
            <!--<conversion-calculator></conversion-calculator>-->
        <!--</section>-->
       <section class="p-b-20">
           <average-cost-calculator :holdings="holdings"></average-cost-calculator>
       </section>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
             holdings: [],
            }
        },
        created: function() {
            this.getHoldings();
        },
        methods : {
            getHoldings() {
                const vm = this;
                axios.get('/dashboard/holdings/by-coin')
                    .then(response => {
                        vm.holdings = response.data.holdings;
                    })
            }
        },
        mounted() {

        }
    }
</script>
